<div style="margin-bottom: 70px" class="container-fluid store-container">

    <section ng-show="model.myStore">
        <section class="header-title row">
            <div class="col-xs-12">
                <h1>Your service center</h1>
            </div>
        </section>

        <store model="model.myStore"></store>

    </section>

    <div class="store-find-box row margin-top-10">
        <form name="storeLocatorSearch" novalidate>
            <div class="header-title row">
                <div class="col-xs-12">
                    <h1>Find a store</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 store-find-desc">Enter your ZIP code or address to find a Sears Auto center near you.</div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4">
                    <div class="input-group vg-store-locator-input">
                        <input type="text" class="form-control"  ng-model="model.address" value="{{model.address}}" ng-minlength="1" required
                               placeholder="Enter zip code" ng-disabled="model.searching">
                        <span class="input-group-btn">
                            <button class="btn find-store-btn" ng-disabled="storeLocatorSearch.$invalid || model.searching" type="button"
                                ng-click="getStoreNearby()">FIND MY STORE</button>
                        </span>
                        <!--TODO improve it!-->
                        <span ng-show="model.searching">(loading...)</span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <section class="stores-list-box row">
        <div class="store-found-subtitle">{{model.stores.length}} store/s found</div>
            <div class="store-slick-carousel" slick slick-data="model.stores">
                <div ng-repeat="store in model.stores track by $index">
                    <store-card model="store"></store-card>
                </div>
            </div>
    </section>

    <footer-vg></footer-vg>

</div>
