<loader fullscreen="true"></loader>
<div class="row car-profile-section hidden-xs">
    <div class="row section-up">
        <div class="col-md-6" ng-class="model.recallsOrRecommended ? 'col-lg-4' : ''">
            <div class="media car-profile-info">
                <div class="car-profile-picture pull-left">
                    <div class="car-card-tag" ng-show="model.carName">
                        <div class="edit-car-name" ng-click="openEditName()">{{model.data.vehicle.name}}</div>
                    </div>
                    <div class="name-your-car" ng-show="!model.carName" ng-click="openEditName()">
                        Name your car
                    </div>
                </div>
                <div class="media-body">
                    <car-card car="model.data.vehicle" change-miles="true"></car-card>
                </div>
                <div class="modal-edit-car-name" ng-show="model.carNameEditMode" >
                    <input class="edit-name" ng-model="model.carName" type="text" placeholder="Name your car" />
                    <div class="clearfix">
                        <div class="pull-left">
                            <span class="btn-delete" ng-click="deleteName()">Delete</span>
                        </div>
                        <div class="pull-right">
                            <span class="btn-action btn-close" ng-click="closeEditName()"></span>
                            <span class="btn-action btn-add" ng-click="updateName()"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-lg-push-5" ng-show="model.recallsOrRecommended">
            <div ng-include="'scripts/car-profile/views/modal-recommended-list.html'"></div>
            <recalls-and-services model="model"></recalls-and-services>
        </div>
        <div ng-class="model.recallsOrRecommended ? 'col-lg-5 col-md-12 col-lg-pull-3' : 'col-md-6'">
            <service-alert vehicle-status="model.data.vehicleStatus"></service-alert>
        </div>
    </div>
    <div class="row section-down section-dark">
        <div class="col-sm-4 section-down-inner">
            <div class="section-box">
                <section class="service-center">
                    <store-small model="model.data.serviceCenter"></store-small>
                    <!--just for desktop-->
                    <car-tell-us-more model="model.data"></car-tell-us-more>
                </section>
            </div>
        </div>
        <div class="col-sm-8 section-down-inner section-blue">
            <div class="section-box">
                <!--POPUP RECORD-->
                <div ng-include="'scripts/car-profile/views/record.html'"></div>
                <div class="btn-box">
                    <div class="btn btn-add" ng-click="openNewRecordForm()">ADD RECENT SERVICE HISTORY</div>
                </div>
                <div class="services-and-articles">
                    <feedback-tag vertical-height="150"></feedback-tag>
                    <section class="last-service" ng-show="model.services" ng-controller="CarProfileLastServicesCtrl">
                        <div class="section-title">
                            <span class="title">Your last service history</span>
                            <span class="btn-history" ng-click="seeAllHistory()">See all history</span>
                        </div>
                        <div class="last-service-body">
                            <service-history services="model.services"></service-history>
                        </div>
                    </section>
                    <section class="section-article" ng-show="model.article">
                        <div class="section-title">Auto articles</div>
                        <div class="section-article-body">
                            <car-article model="model.article"></car-article>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="section-down section-down-fix section-blue"></div>
</div>

<div class="row car-profile-mobile visible-xs hidden-sm">
    <div class="clearfix nav-bar" ng-if="model.recallsOrRecommended">
        <ul class="header">
            <li ng-class="model.hasRecommended ? 'item50' : 'item100'" ng-if="model.hasRecalls">
                <div class="recall-header" ng-click="redirectToRecalls()">{{model.data.recallsInformation.totalRecalls}} Recall</div>
            </li>
            <li ng-class="model.hasRecalls ? 'item50' : 'item100'" ng-if="model.hasRecommended">
                <div class="suggested-header" ng-click="goToRecommended('recommended-box')">{{model.data.recommendedService.serviceRecordItems.length}} Suggested Services</div>
            </li>
        </ul>
    </div>
    <div class="clearfix">
        <div class="car-profile-info">
            <car-card car="model.data.vehicle" change-miles="true"></car-card>
            <div class="car-card-tag" ng-show="model.carName">
                <div class="edit-car-name" ng-click="openEditName()">{{model.data.vehicle.name}}</div>
            </div>
            <div class="name-your-car" ng-show="!model.carName" ng-click="openEditName()">
                Name your car
            </div>
            <div class="modal-edit-car-name" ng-show="model.carNameEditMode" >
                <input class="edit-name" ng-model="model.carName" type="text" placeholder="Name your car" />
                <div class="clearfix">
                    <div class="pull-left">
                        <span class="btn-delete" ng-click="deleteName()">Delete</span>
                    </div>
                    <div class="pull-right">
                        <span class="btn-action btn-close" ng-click="closeEditName()"></span>
                        <span class="btn-action btn-add" ng-click="updateName()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <service-alert vehicle-status="model.data.vehicleStatus"></service-alert>
    </div>
    <!--triangle-->
    <svg class="visible-xs triangle triangle-top" viewBox="0 0 10 10" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <polygon points="0 0, 0 10, 10 10" fill="#2b9ace"/>
    </svg>
    <div class="clearfix">
        <store-small model="model.data.serviceCenter"></store-small>
    </div>
    <!--triangle-->
    <svg ng-if="model.recallsOrRecommended || !model.services" class="visible-xs triangle triangle-bottom" viewBox="0 0 10 10" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <polygon points="0 10, 10 0, 0 0" fill="#2b9ace"/>
    </svg>
    <div class="section-white section-recommended-recalls" ng-if="model.recallsOrRecommended">
        <div class="clearfix">
            <div ng-if="model.data.recommendedService && model.data.recommendedService.serviceRecordItems && model.data.recommendedService.serviceRecordItems.length > 0">
                <div class="recommended-box" id="recommended-box">
                    <div class="count">{{model.data.recommendedService.serviceRecordItems.length}} Suggested Sears Services</div>
                    <div class="recommended-services">
                        <div class="service-list">
                            <div class="well well-sm" ng-repeat="srv in model.data.recommendedService.serviceRecordItems">
                                <button type="button" class="close" ng-click="blockSuggested(srv)">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                </button>
                                <a ng-href="{{srv.link}}" target="_blank" ng-class="srv.link != null ? 'marked':''">{{srv.description| capitalize}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div ng-if="model.data.recallsInformation && model.data.recallsInformation.totalRecalls > 0">
                <div class="recall-box">
                    <div class="count">{{model.data.recallsInformation.totalRecalls}} Recalls</div>
                    <div class="summary">{{model.data.recallsInformation.lastRecall.summary| limitTo: 150}}</div>
                    <a class="see-more" href="#" ng-click="redirectToRecalls()">See more details</a>
                </div>
            </div>
        </div>
    </div>
    <!--triangle-->
    <svg ng-if="model.services && model.recallsOrRecommended" class="visible-xs triangle triangle-top" viewBox="0 0 10 10" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <polygon points="0 0, 0 10, 10 10" fill="#2b9ace"/>
    </svg>
    <div class="section-blue" ng-if="model.services">
        <div class="last-service" ng-controller="CarProfileLastServicesCtrl">
            <div class="section-title">
                <div class="title">Your recent service</div>
                <div class="btn-history" ng-click="seeAllHistory()">See all history</div>
            </div>
            <div class="last-service-body">
                <service-history services="model.services"></service-history>
            </div>
        </div>
    </div>
    <div class="section-white">
        <car-tell-us-more model="model.data"></car-tell-us-more>
    </div>
    <div class="section-blue">
        <section class="section-article" ng-show="model.article">
            <div class="section-title">Auto articles</div>
            <car-article model="model.article"></car-article>
        </section>
    </div>
    <div class="section-white">
        <footer-vg></footer-vg>
    </div>
</div>
