<div ng-include="'scripts/presentation-flow/views/nav-top.html'"></div>

<div class="container-fluid row car-profile" >
    <section class="header col-xs-12">
        <div ng-include="'scripts/car-profile/views/car-profile-header.html'" ></div>
    </section>
    <div class="clearfix"></div>
    <section class="service-center col-xs-12 col-sm-4">
        <div ng-include="'scripts/car-profile/views/car-profile-store.html'" ></div>
    </section>
    <section class="service-history col-xs-12 col-sm-8">
        <div ng-include="'scripts/car-profile/views/car-profile-your-last-services.html'" ></div>
    </section>
    <div class="clearfix"></div>
    <div class="car-profile-footer col-xs-12"></div>
</div>
