<section>
    <div>
        <button disabled=""></button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Your last service history</h1>
            <a href="/services">
                <div class="col-xs-6 col-md-5 col-md-offset-1 no-border-right">See all history</div>
            </a>
        </div>
        <div ng-repeat="service in services" class="col-md-12">
            <div class="col-md-3">
                <div class="store-icon-big col-xs-1"></div>
            </div>
            <div class="col-md-9">
                <div class="row sis-header">
                    <div class="sis-data service-highlight">{{service.serviceCenterStr}}</div>
                </div>
                <div class="row">
                    <div class="sis-data">{{service.serviceDesc}}</div>
                </div>
                <div class="row">
                    <div class="sis-data col-md-6">{{service.serviceMileage | number}}</div>
                    <div class="sis-date-small col-md-6">{{service.serviceDate | date:'MM/dd/yy'}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="col-md-12">
        <div>Auto articles</div>
        <div>These articles are recomemended for you</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="store-icon-big col-xs-1"></div>
        </div>
        <div class="col-md-9">
            <div class="sis-data service-highlight">{{articlesStr}}</div>
            <div class="sis-data">{{articleDesc}}</div>
            <div class="sis-data">geek.com</div>
            <div>Tags: Cars, Auto, Technology</div>
        </div>
    </div>
</section>
