<div class="row car-profile-section hidden-xs">
    <div class="row section-up">
        <div class="col-md-6" ng-class="model.recallsOrRecommended ? 'col-lg-4' : ''">
            <div class="media car-profile-info">
                <div class="car-profile-picture pull-left">                    
                    <div class="car-card-tag">
                        <div class="edit-car-name" ng-click="openEditName()">{{model.data.vehicle.name}}</div>
                    </div>
                    <div class="modal-edit-car-name" ng-show="editMode" >
                        <input ng-model="model.data.vehicle" type="text" />
                    </div>
                </div>
                <div class="media-body">
                    <car-card car="model.data.vehicle" change-miles="true"></car-card>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-lg-push-5" ng-show="model.recallsOrRecommended">            
            <div ng-include="'scripts/car-profile/views/modal-recommended-list.html'"></div>
            <recalls-and-services model="model"></recalls-and-services>
        </div>
        <div ng-class="model.recallsOrRecommended ? 'col-lg-5 col-md-12 col-lg-pull-3' : 'col - md - 6'">
            <service-alert vehicle-status="model.data.vehicleStatus"></service-alert>
        </div>
    </div>    
    <div class="row section-down section-dark">
        <div class="col-sm-4 section-down-inner">
            <div class="section-box">
                <section class="service-center">
                    <store-small model="model.data.serviceCenter"></store-small>
                    <!--just for desktop-->
                    <car-tell-us-more model="model.data"></car-tell-us-more>
                </section>
            </div>
        </div>
        <div class="col-sm-8 section-down-inner section-blue">
            <div class="section-box">
                <!--POPUP RECORD-->
                <div ng-include="'scripts/car-profile/views/record.html'"></div>
                <div class="btn-box">
                    <div class="btn btn-add" ng-click="openNewRecordForm()">ADD RECENT SERVICE HISTORY</div>
                </div>
                <div class="services-and-articles">
                    <feedback-tag vertical-height="150"></feedback-tag>
                    <section class="last-service" ng-show="model.services" ng-controller="CarProfileLastServicesCtrl">
                        <div class="section-title">
                            <span class="title">Your last service history</span>
                            <span class="btn-history" ng-click="seeAllHistory()">See all history</span>
                        </div>
                        <div class="last-service-body">
                            <service-history services="model.services"></service-history>
                        </div>
                    </section>
                    <section class="section-article" ng-show="model.article">
                        <div class="section-title">Auto articles</div>
                        <div class="section-article-body">
                            <car-article model="model.article"></car-article>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="section-down section-down-fix section-blue"></div>
</div>
<div class="row car-profile-mobile visible-xs">
    <div class="row">
        <div class="col-xs-6" ng-if="model.data.recallsInformation && model.data.recallsInformation.totalRecalls > 0">
            <div class="wrapper-center">
                <div class="img second-header-text">{{model.data.recallsInformation.totalRecalls}} Recall</div>
            </div>
        </div>
        <div class="col-xs-6 services wrapper-parent divisor"
             ng-if="model.data.recommendedService && model.data.recommendedService.serviceRecordItems && model.data.recommendedService.serviceRecordItems.length > 0">
            <div class="wrapper-center">
                <div class="img second-header-text">{{model.data.recommendedService.serviceRecordItems.length}} Suggested Services</div>
            </div>
        </div>
    </div>
</div>
