<div class="car-profile-store" ng-controller="CarProfileStoreCtrl">
    <store-small model="model.data.serviceCenter"></store-small>
    <section class="tell-us-more hidden-xs">
        <br/>
        <hr/>
        <h1>Tell us more!</h1>
        <p>Lorem ipsum simply dummy text <br/>of the printing and tyupesetting <br/>industry. Lorem ipsum has be we value</p>
        <div class="btn-lorem">
            <button type="button">Lorem ipsum</button>
        </div>
    </section>
    <section class="store-car-heart hidden-xs">
        <div>&nbsp;</div>
    </section>
</div>
