<div class="car-profile-last-services" ng-controller="CarProfileLastServicesCtrl">
    <section>
        <div>
            <button disabled=""></button>
        </div>
        <div class="row">
            <div class="last-service-top col-md-12">
                <div class="last-service-title col-md-6">Your last service history</div>
                <a href="/services">
                    <div class="btn-history col-xs-6 col-md-6">See all history</div>
                </a>
            </div>
           <service-history service-date="model.service.date" service-mileage="model.service.mileage"
                            service-center="model.service.serviceCenter" service-records="model.service.serviceRecordItems"
                            ng-repeat="service in model.services">
           </service-history>
        </div>
    </section>
    <section>
        <div class="col-md-12">
            <div class="col-md-12">Auto articles</div>
            <div class="col-md-12">These articles are recomemended for you</div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="store-icon-big col-xs-1"></div>
            </div>
            <car-article model="model.article"></car-article>
        </div>
    </section>
</div>