<script type="text/ng-template" id="modalRecommendedList.html">    
    <div class="modal-window">
        <div class="modal-header">
            <div>
                <button type="button" class="btn-close-top-right btn-lg" ng-click="cancel()">
                </button>
            </div>
            <h1 class="text-center">{{recommendedService.serviceRecordItems.length}} Suggested Services</h1>
        </div>        
        <div class="modal-body">
            <recommended-services recommended="recommendedService"></recommended-services>            
        </div>
        <div class="modal-footer">
                <button class="btn btn-warning"  ng-click="close()">Close</button>                
         </div>        
    </div>
</script>

