

###########
# BACKEND #
###########

BK/.settings
BK/.idea
BK/*.launch
BK/.target
BK/.buildpath
BK/target
BK/*.iml
BK/.classpath
BK/.project
BK/.tmp
BK/.merge_file*
BK/.springBeans
BK/nbactions*

#############
# FRONT-END #
#############

FE/node_modules
FE/dist
FE/.tmp
FE/.idea
FE/.sass-cache
FE/app/bower_components
FE/.svn
FE/.DS_Store
FE/coverage
FE/README.html
FE/app/styles/*.css
FE/*.appcache
FE/*.cache
FE/mockeyDebugFile.log
FE/app/scripts/services/environment-config.js
FE/nbproject

# BOTH

ENV
.project
.classpath
build
.idea
.settings
nbproject
ENV
FE/app/scripts/presentation-flow/controllers/dashboard.js.orig
FE/app/config.rb
FE/app/scripts/directives/dashboard/car-card.js.orig
FE/app/styles/config.rb
FE/config.rb
FE/grunt-tasks/options/bootlint.js.orig
FE/grunt-tasks/options/htmllint.js.orig
FE/app/scripts/car-profile/car-profile-your-services.html.BACKUP.3140.html
FE/app/scripts/car-profile/car-profile-your-services.html.BASE.3140.html
FE/app/scripts/car-profile/car-profile-your-services.html.LOCAL.3140.html
FE/app/scripts/car-profile/car-profile-your-services.html.REMOTE.3140.html
