<div style="background-color: #ffffff" class="row">
    <section class="col-xs-12 col-sm-2">
        <div class="store-map" style="height: 200px; width: 100%"></div>
    </section>

    <section class="col-xs-12 col-sm-6">
        <div class="store-list-item row" style="border:0;background-color: #ffffff">
            <div class="col-xs-2">
                <div class="store-list-icon"></div>
            </div>
            <div class="store-list-info col-xs-10">
                <div>{{model.address}}</div>
                <div>{{model.district_name}}, {{model.zip_code}}</div>
                <div ng-if="model.phone">Call: <a href="tel:{{model.phone}}">{{model.phone}}</a></div>
            </div>
            <div><button ng-click="setFavoriteStore()" type="button">SET AS MY STORE</button></div>
            <div class="store-list-miles">{{model.distance}} Miles</div>
            <div class="clearfix"></div>
        </div>
    </section>

    <section class="col-xs-12 col-sm-4 store-hours-box">
        <div class="store-subtitle">Hours of Operations</div>
        <ul class="list-unstyled">
            <li ng-repeat="day in days track by day" ng-class="{bolder:currentDateIndex===$index}" class="clearfix" style="width: 100%">
                <span class="pull-left">{{day}}</span><span class="pull-right">{{hours[$index]}}</span>
            </li>
        </ul>
    </section>
</div>