@mixin fontLanding {
  font-family: 'Roboto', sans-serif;
}
.divMain {
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 800px;
}
.logoLanding {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
}
.noPadding {
  padding-left: 0;
  padding-right: 0;
}
.noPaddingLeft {
  @extend .noPadding;
  padding-right: 15px;
}
.noPaddingRight {
  @extend .noPadding;
  padding-left: 15px;
}
.box {
  @include fontLanding;
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color: #464646;
  height: 200px;
}
.boxFirst {
  @extend .box;
  background-image: url(../resources/images/box1.jpg);
}
.boxMiddle {
  @extend .box;
  background-image: url(../resources/images/box2.jpg);
}
.boxLast {
  @extend .box;
  background-image: url(../resources/images/box3.jpg);
}
.titleH3 {
  @include fontLanding;
}
.btnStart {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.boxText {
  @include fontLanding;
  position: absolute;
  font-weight: inherit;
}
.textTitle {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}


/* Portrait phones and down */
@media (max-width: 480px) {
  .row {
    background-color: #ffffff;
  }
  .box {
    width: 140px;
    height: 140px;
    margin-top: 10%;
    margin-left: 30%;
  }
  .boxFirst {
    background-image: url(../resources/images/box1_mobile.jpg);

  }
  .boxMiddle {
    background-image: url(../resources/images/box2_mobiel.jpg);
  }
  .boxLast {
    background-image: url(../resources/images/box3_mobile.jpg);
  }
  .boxText {
    margin-top: 20px;
    width: 200px;
    color: #808080;
    margin-left: 80px;
  }
  .col-md-4 {
    margin-top: 30%;
  }
  .col-md-4.noPaddingRight {
    margin-top: 0;
  }
  .noPaddingRight {
    padding-left: 0;
  }
  .logoLanding  {
    background-image: url("../resources/images/Logo_Small.png");
    width: 140px;
    height: 39px;
    margin-left: 120px;
    margin-top: 5px;
  }
  .divMain {
    margin-top: 65px;
    padding-left: 0;
    width: auto;
  }
  .textTitle {
    background-image: url("../resources/images/Text_Small.png");
    width: auto;
    height: 92px;
  }
  .btnStart {
    background-image: url("../resources/images/Button_Small.png");
    width: 200px;
    height: 53px;
  }
  .titleH3 {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .carousel-inner > .firstImg > img {
    background-image: url("../resources/images/LP_1_mobile.jpg");
  }
  .carousel-inner > .middleImg > img {
    background-image: url("../resources/images/LP_2_mobile.jpg");
  }
  .carousel-inner > .lastImg > img {
    background-image: url("../resources/images/LP_3_mobile.jpg");
  }
}

/* Portrait phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Tablets and phones */
@media (max-width: 768px) {
}

/* Medium devices */
@media (max-width: 992px) {

}

/* Large desktop */
@media (min-width: 1200px) {
  .boxText {
    margin-top: -30%;
    margin-left: 20%;
    width: 50%;
  }
  .noPaddingLeft label {
    color: #808080;
  }
  .logoLanding {
    background-image: url("../resources/images/Logo_Medium.png");
    width: 188px;
    height: 52px;
    z-index: 12;
    margin-left: 40px;
    margin-top: 10px;
  }
  .divMain {
    margin-left: 260px;
    margin-top: 190px;
  }
  .textTitle {
    background-image: url("../resources/images/Text_Large.png");
    width: 860px;
    height: 100px;
  }
  .btnStart {
    background-image: url("../resources/images/Button_Big.png");
    width: 250px;
    height: 60px;
  }
  .titleH3 {
    margin-bottom: 35px;
  }
  .carousel-inner > .firstImg > img {
    background-image: url("../resources/images/LP_1.jpg");
  }
  .carousel-inner > .middleImg > img {
    background-image: url("../resources/images/LP_2.jpg");
  }
  .carousel-inner > .lastImg > img {
    background-image: url("../resources/images/LP_3.jpg");
  }
}