@import "../dashboard/slick";
@import "compass/css3/border-radius";

.store-container {
  color: $commonColor;
  @extend %font-Roboto;

  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.header-title {
  color: $headerColor;
  text-align: center;
  h1 {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

.store-subtitle {
  color: $highlighterTitleColor;
  font-weight: bold;
  text-align: center;
}

.bolder {
  font-weight: bold;
}

.store-box {
  font-size: 1.7rem;
  font-family: Roboto;
  color: #555e6c;
  font-weight: 400;

  .store-icon-big {
    background-image: url($locationBIG);
    background-size: 32px;
    width: 38px;
    height: 72px;
    margin-left: 6px;
    margin-top: 4px;
    background-repeat: no-repeat;
  }

  .store-text-data{
    margin-left: 45px;
  }

  @include bp(sm) {
    small {
      margin-top: 5px;
      float: left;
      font-size: 1.2rem;
    }
    .margin-right-10 {
      float: left;
    }
  }
  @include bp(xs) {
    small {
      margin-top: 5px;
      font-size: 1.4rem;
      display: block !important;
      color: rgb(103,109,125);
      font-weight: 550;
    }
  }
}

@include bp(xs) {
  .store-box {
    font-size: 2.5rem;
    .store-icon-big {
    }
  }
}

.store-map {
  //    height: 200px;
}

.store-map-box {
  margin-top: 8px;
  margin-left: -9px;

  section {
    min-height: 100%;
    height: 100%;
    padding: 0;
    padding-right: 15px;

    &.store-hours-box {
      margin-top: 10px;
      padding-right: 5%;
    }
  }
}

.store-map-box .store-map {
  height: 210px;
  width: 100%;
}

@include bp(xs) {
  .dashboard-service-center, .store-container, div[ng-view] {
    padding-left: 0;
    padding-right: 0;
  }
  .store-box{
    margin-left: 10px;
  }
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.store-hours-box {

  @include bp(xs) {
    margin-top: 40px;
  }
  div {
    text-align: center;
    font-size: 1.3rem;
  }
  ul > li {
    font-size: 1.2rem;
    width: 100%;
    margin: 5px auto;
    @include bp(xs) {
      font-size: 1.9rem;
      width: 250px;
    }
  }

}

.store-find-box {
  text-align: center;
  font-size: 1.7rem;
  @extend %font-Roboto;
  .store-find-desc {
    text-align: left;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 0.95em;
    color: gray;
  }
}

.stores-list-box {
  margin-top: 15px;
  padding-top: 15px;
  text-align: center;
  font-size: 1.5rem;

  .store-found-subtitle {
    font-weight: bold;
    color: $highlighterTitleColor;
  }

  .stores-list-content {
    width: 100%;
  }
  .store-card-slick-container {
    margin: 15px 0 15px 0;
    background: url("../resources/images/store-locator/store-bck-map.png") no-repeat;
    background-size: cover;
    .store-address {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }

  .store-slick-carousel {
    margin: 0;
  }
  @include bp(md) {
    .store-slick-carousel {
      width: 980px !important;
    }
  }

  @include bp(sm) {
    .store-slick-carousel {
      width: 980px !important;
    }
  }

}

@include bp(xs) {
    .stores-list-box {
      .store-card-slick-container{
        margin: 0 auto;
      }
    }
}

.store-list-item {
  text-align: center;
  border: solid $storeItemBorderColor 1px;
  width: 272px;
  min-height: 192px;
  background-color: $storeItemBkg;
  font-size: 1.75rem;
  padding: 20px 0 0 0;
  margin: 0 auto;
  @include bp(xs) {
    width: 80%;
    margin: 15px 0 0 10%;
  }

  .store-list-info {
    width: 200px;
    margin: 0 auto;
    text-align: left;
    padding-left: 17px;
    a {
      color: $commonColor;
      text-decoration: none;
    }
  }

  .store-list-icon {
    background-image: url($locationSMALL);
    background-repeat: no-repeat;
    width: 21px;
    height: 65px;
    margin: 7px 12px 0 22px;
    float: left;
  }

  .store-list-miles {
    color: #afb0b5;
    font-size: 1.9rem;
  }

  .store-link {
    font-size: 1.2rem;
    margin-top: 5px;
    float: right;
    margin-right: 32px;
    margin-bottom: 10px;
  }

  button {
    border: 2px solid $buttonBorderColor;
    background-color: $buttonBorderBkg;
    color: $buttonColor;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 6px 16px 6px 16px;
    margin-top: 10px;

  }
}

.stores-social-box {
  width: 135px;
  margin: 20px auto 0 auto;

  .stores-social {
    width: 45px;
    float: left;
  }

  .stores-social-internal {
    background-image: url($shareInternal);
    width: 39px;
    height: 39px;
  }
  .stores-social-facebook {
    background-image: url($shareFb);
    width: 39px;
    height: 39px;
  }
  .stores-social-twitter {
    background-image: url($shareTw);
    width: 39px;
    height: 39px;
  }
}

.feedback-box {
  text-align: center;
  height: 50px;
  margin-bottom: 10px;
  button {
    margin-top: 15px;
    border: 0;
    background-color: #555e6d;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 10px 35px;
    letter-spacing: 2px;
  }
}

.find-store-btn {
  background-color: #3A4986;
  @extend %font-Roboto;
  color: white;
  border-radius: 0;
  font-size: 9px;
  line-height: 20px;
}

.find-store-btn:hover, .find-store-btn:focus, .find-store-btn:active {
  color: white;
}

.vg-store-locator-input {
  input {
    @include border-radius(0);
  }
}

.no-padding {
  padding: 0;
}

.header-title .col-xs-12{
  padding-right:0;
  padding-left:0;
}


// != phone:
@media (min-width: $screen-sm-min) {
  .header-title .col-xs-12, .store-found-subtitle {
    text-align: left;
  }
}

@include bp(xs) {
  .store-find-box {
    .store-find-desc {
      text-align: center;
      font-size: 1.0em;
    }
  }
}

//.swiper-container {
//    /* Specify Swiper's Size: */
//
//    width: 200px;
//    height: 200px;
//    margin: 0 auto;
//    position: relative;
//    overflow: hidden;
//    backface-visibility: hidden;
//    /* Fix of Webkit flickering */
//    z-index: 1;
//
//
//}
//.swiper-slide {
//    /* Specify Slides's Size: */
//
//    width: 100%;
//    height: 100%;
//    padding-left: 15px;
//    padding-right: 15px;
//    //  	overflow: auto;
//    .row {
//        height: 100%;
//    }
//}

//.store-box{background-color: #0066bb;}
//.header-title{background-color: #006666;}
//.store-map-box{background-color: #004444;}
//.store-hours-box{background-color: #0040D0;}
//.store-find-box{background-color: #00b3ee;}
//.stores-list-box{background-color: #009926;}
//.stores-social-box{background-color: #0d3349;}
//.feedback-box{background-color: #044062;}
//.store-map-box{background-color: #31708f;}

