<div ng-switch="model.currentPath" class="brade-crumb-vg">
    <ul ng-switch-when="/car-profile" class="brade-crumb-ul">
        <li class="level-one-li">
            <a href="/dashboard" class="level-one"><span class="level-one-text selected-level">Home</span></a>
        </li>
        <li class="level-two-li">
            <a href="/car-profile" class="level-two"><span class="level-two-text deselected-level">{{model.currentCar.vehicle.make}}</span></a>
        </li>
    </ul>
    <ul ng-switch-when="/store-locator" class="brade-crumb-ul">
        <li class="level-one-li">
            <a href="/dashboard" class="level-one"><span class="level-one-text selected-level">Home</span></a>
        </li>
        <li class="level-three-li" style="position:relative;left: -15px !important;">
            <a href="#" class="level-three deselected-level">Your service center</a>
        </li>
    </ul>
    <ul ng-switch-when="/recalls" class="brade-crumb-ul">
        <li class="level-one-li">
            <a href="/dashboard" class="level-one selected-level">Home</a>
        </li>
        <li class="level-two-li">
            <a href="/car-profile" class="level-two"><span class="level-two-text selected-level">{{model.currentCar.vehicle.make}}</span></a>
        </li>
        <li class="level-three-li">
            <a href="#" class="level-three deselected-level">Recalls</a>
        </li>
    </ul>
    <ul ng-switch-when="/services" class="brade-crumb-ul">
        <li class="level-one-li">
            <a href="/dashboard" class="level-one"><span class="level-one-text selected-level">Home</span></a>
        </li>
        <li class="level-two-li">
            <a href="/car-profile" class="level-two"><span class="level-two-text selected-level">{{model.currentCar.vehicle.make}}</span></a>
        </li>
        <li class="level-three-li">
            <a href="#" class="level-three deselected-level">Services</a>
        </li>
    </ul>
</div>


<div class="dashboard-page-header">
    <div class="col-xs-4 home-page-title-logo">
        <a href="/dashboard" class="home-page-title"><div class="home-header-page-logo"></div></a>
    </div>
    <div class="col-xs-4 header-text">
        <div  ng-show="isDashboardPage()">
            <span class="header-text-name"><span class="header-text-name-word">{{model.userName}}</span>, You have {{model.countLinkedCars}} for Sears AutoCareOne</span>
        </div>
    </div>
    <div class="col-xs-4 right-zone pull-right">
        <div class="syw-id">Your SYW ID#: {{getSywNumber()}}</div>
        <div class="pull-right header-buttons">
            <a href="#" class="btn-social btn-mail">
            </a>
            <a href="#" class="btn-social btn-facebook">
            </a>
            <a href="#" class="btn-social btn-twitter">
            </a>
            <a ng-href="{{model.appoinmentUrl}}" target="appoinment link">
                <div class="btn-appointment"></div>
            </a>
        </div>
    </div>
</div>