body {
    background: #fff;
    font-family: "Roboto";
    color: #444;
}

@include bp(xs) {
    body{
        overflow-x:hidden;
    }
}

body, html, .container-fluid{
    height:100%;
}

a{
    color:$linkColor;
    &:hover{
        color:$linkColorAlt;
        text-decoration: none;
    }
}

.page-header{
    margin: 10px 0 20px;
}
h1, h2, h3 {
    font-weight: 100;
}


//PATCH to fix the problem on mobile devices with 320 width
@media (max-width: 380px) {
    html.ng-scope {
        width: 90%;
        margin-left: 11px;
    }
    .dashboard .dashboard-car-actions-top .dashboard-add-car{
        margin-right: 10px;
    }
    .grid-car-card{
        width: 318px;
    }
}

