$headerColor: #1fafc8;
$commonColor: #555e6c;
$linkColor: #32b5ca;
$linkColorAlt: #91c7ca;
$highlighterTitleColor: #000000;
$screen-sm-min: 768px;

//car-profile
$headerService: '../resources/images/car-profile/services.png';
$headerRecall: '../resources/images/car-profile/recall-gray.png';


//footer
$shareInternal: '../resources/images/store-locator/share_internal.jpg';
$shareFb: '../resources/images/store-locator/share_fb.jpg';
$shareTw: '../resources/images/store-locator/share_tw.jpg';
$feedbackCard: '../resources/images/car-profile/feedback-card.jpg';
$shareInternalBig: '../resources/images/share_internal_big.jpg';
$shareFbBig: '../resources/images/share_fb_big.jpg';
$shareTwBig: '../resources/images/share_tw_big.jpg';

//store location
$buttonColor: #32b5ca;
$buttonBorderColor: #32b5ca;
$buttonBorderBkg: #ffffff;
$storeItemBkg: #fcfbf9;
$storeItemBorderColor: #cdd2d6;
$locationBIG: '../resources/images/store-locator/locationBIG.png';
$locationSMALL: '../resources/images/store-locator/locationSMALL.png';
$locationMarker: '../resources/images/car-profile/brand-marker.png';
$locationMapBg: '../resources/images/car-profile/map-bg.jpg';
$tellUsMoreIcon: '../resources/images/car-profile/tellUsMoreIcon.png';
$tellUsMoreCar: '../resources/images/car-profile/car-heart.jpg';

// manage car
$manageCarLoader: '../resources/images/loader.gif';
$manageAddCarConfirmed: '../resources/images/manage-car/vapprove.png';

// url images.
$wrench : "../resources/images/wrench.png";

// social icons
$twitterDesktop: '../resources/images/dashboard/shareicon_twitter.png';
$twitterMobile: '../resources/images/dashboard/shareicon_twitter_mobile.png';
$facebookDesktop: '../resources/images/dashboard/shareicon_facebook.png';
$facebookMobile: '../resources/images/dashboard/shareicon_facebook_mobile.png';
$mailDesktop: '../resources/images/dashboard/shareicon_mail.png';
$mailMobile: '../resources/images/dashboard/shareicon_mail_mobile.png';
