$headerColor: #1fafc8;
$commonColor: #555e6c;
$linkColor: #32b5ca;
$linkColorAlt: #91c7ca;
$highlighterTitleColor: #000000;
$screen-sm-min: 768px;

//footer
$shareInternal: '../resources/images/store-locator/share_internal.jpg';
$shareFb: '../resources/images/store-locator/share_fb.jpg';
$shareTw: '../resources/images/store-locator/share_tw.jpg';

//store location
$buttonColor: #32b5ca;
$buttonBorderColor: #32b5ca;
$buttonBorderBkg: #ffffff;
$storeItemBkg: #fcfbf9;
$storeItemBorderColor: #cdd2d6;
$locationBIG: '../resources/images/store-locator/locationBIG.png';
$locationSMALL: '../resources/images/store-locator/locationSMALL.png';
$locationMarker: '../resources/images/car-profile/brand-marker.png';
$locationMapBg: '../resources/images/car-profile/map-bg.jpg';
$tellUsMoreIcon: '../resources/images/car-profile/tellUsMoreIcon.png';

// url images.
$wrench : "../resources/images/wrench.png";

// social icons
$twitterDesktop: '../resources/images/dashboard/shareicon_twitter.png';
$twitterMobile: '../resources/images/dashboard/shareicon_twitter_mobile.png';
$facebookDesktop: '../resources/images/dashboard/shareicon_facebook.png';
$facebookMobile: '../resources/images/dashboard/shareicon_facebook_mobile.png';
$mailDesktop: '../resources/images/dashboard/shareicon_mail.png';
$mailMobile: '../resources/images/dashboard/shareicon_mail_mobile.png';
