$headerColor: #1fafc8;
$commonColor: #555e6c;
$linkColor: #32b5ca;
$linkColorAlt: #91c7ca;
$highlighterTitleColor: #000000;
$screen-sm-min: 768px;

//footer
$shareInternal: '../resources/images/store-locator/share_internal.jpg';
$shareFb: '../resources/images/store-locator/share_fb.jpg';
$shareTw: '../resources/images/store-locator/share_tw.jpg';

//store location
$buttonColor: #32b5ca;
$buttonBorderColor: #32b5ca;
$buttonBorderBkg: #ffffff;
$storeItemBkg: #fcfbf9;
$storeItemBorderColor: #cdd2d6;
$locationBIG: '../resources/images/store-locator/locationBIG.png';
$locationSMALL: '../resources/images/store-locator/locationSMALL.png';
