<div class="car-article row">
    <div class="col-md-6 car-article-img">
        <img class="car-img" src="{{model.imageUrl}}" alt="Article Image">
    </div>
    <div class="car-article-data col-md-6">
        <div class="car-article-title">{{model.title}}</div>
        <p class="section-desc hidden-xs">{{model.summary}}</p>
        <div class="car-article-url">
            <a target="_blank" href="{{model.sourceUrl}}">{{model.sourceUrl | domain}}</a>
        </div>
        <div class="car-article-tag hidden-xs">Tags: {{model.topic}}</div>
    </div>
</div>