<div class="car-article row">
    <div class="car-article-img col-xs-5">
        <img class="media-object car-article-media-object" src="{{model.imageUrl}}" alt="Article Image">
    </div>
    <div class="car-article-data col-xs-7">
        <div class="car-article-title">{{model.title}}</div>
        <div class="section-desc">{{model.summary}}</div>
        <div class="car-article-url">
            <a href="{{model.sourceUrl}}">{{model.sourceUrl | domain}}</a>
        </div>
        <div class="car-article-tag">Tags: {{model.topic}}</div>
    </div>
</div>