<div class="reorder-xs">
	<div class="down-xs">
        <div class="recall-info">
            <div class="count">{{model.data.recallsInformation.totalRecalls}} Recalls</div>
            <div class="summary">{{model.data.recallsInformation.lastRecall.summary}}</div>
            <a href="">See more details</a>
        </div>
	</div>
	<div class="up-xs">
        <div class="service-info">
            <div class="count">{{model.data.recommendedService.serviceRecordItems.length}} Recommended Sears Services</div>
            <div class="service-list">
                <span class="item" ng-repeat="srv in model.data.recommendedService.serviceRecordItems">
                    {{srv.description | capitalize}}
                </span>
            </div>
            <div class="prev-service">
                Previous service:
                <span class="item" ng-repeat="srv in model.data.recommendedService.previousServiceRecordItems">
                    {{srv.description | capitalize}},
                </span>
            </div>
        </div>
	</div>
</div>
