<div class="reorder-xs recalls-and-services">
	<div class="down-xs" ng-if="model.data.recallsInformation && model.data.recallsInformation.totalRecalls > 0">
        <div class="recall-info">
            <div class="count">{{model.data.recallsInformation.totalRecalls}} Recalls</div>
            <div class="summary">{{model.data.recallsInformation.lastRecall.summary}}</div>
            <a href="#" ng-click="redirectToRecalls()">See more details</a>
        </div>
	</div>
	<div class="up-xs" ng-if="model.data.recommendedService &&  model.data.recommendedService.serviceRecordItems && model.data.recommendedService.serviceRecordItems.length>0">
        <div class="service-info">
            <div class="count">{{model.data.recommendedService.serviceRecordItems.length}} Recommended Sears Services</div>
            <div class="service-list">
                <span class="item" ng-repeat="srv in model.data.recommendedService.serviceRecordItems">
                    {{srv.description | capitalize}}
                </span>
            </div>
            <div class="prev-service">
                Previous service:
                <span class="item" ng-repeat="srv in model.data.recommendedService.previousServiceRecordItems">
                    {{srv.description | capitalize}},
                </span>
            </div>
        </div>
	</div>
</div>
