<div class="service-history row" ng-repeat="service in model.services">
    <div class="col-xs-4">
        <div class="service-history-img">
            <div class="service-history-icon"
                 ng-class="serviceType == 'REMOTE_SERVICE' ? 'service-history-icon-non-private' : 'service-history-icon-private'">
             </div>
        </div>
    </div>
    <div class="service-history-data col-xs-8">
        <div class="sh-data">{{service.serviceCenterStr}}</div>
        <div class="section-desc">{{service.serviceDesc}}</div>
        <div class="sh-data-mileage">{{service.serviceMileage | number}} Miles</div>
        <div class="sh-date-small">{{service.serviceDate | date:'mediumDate'}}</div>
    </div>
</div>
