<div class="service-alert">
	<div class="service-alert-tire">
		<div class="alert-icon alert-icon-tire"></div>
		<span class="title">Tire Rotation</span>
		<span class="data">{{model.tireMessage}}</span>
	</div><!--
 --><div class="service-alert-oil">
		<div class="alert-icon alert-icon-oil"></div>
		<span class="title">Oil Change</span>
		<span class="data">{{model.oilMessage}}</span>
	</div><!--
 --><div class="service-alert-brakes">
		<div class="alert-icon alert-icon-brakes"></div>
		<span class="title">Brakes Inspection</span>
		<span class="data">{{model.brakesMessage}}</span>
	</div>
</div>