<div class="service-alert">
    <div class="title-header">Based on your last service appointment at Sears Auto Center</div>
    <div class="car-profile-alerts-icons">
        <div class="clearfix">
            <div class="item" ng-repeat="status in vehicleStatus" >
                <span class="icon service-alert-{{status.component + '-' + status.statusName| lowercase}}"></span>
                <div class="car-profile-alerts-text">
                    <span class="title">{{status.componentName}}</span>
                    <span class="data">{{status.statusDescription}}</span>
                </div>
            </div>
        </div>
    </div>
</div>