<section class="tell-us-more hidden-xs" ng-if="!mobile">
    <br/>
    <hr/>
    <h1>Tell us more!</h1>
    <p>Lorem ipsum simply dummy text <br/>of the printing and tyupesetting <br/>industry. Lorem ipsum has be we value</p>
    <div class="btn-lorem">
        <button type="button" ng-controller="TellUsMoreCtrl" ng-click="showTellUsMore()">Tell us more</button>
    </div>    
</section>

<section ng-if="mobile" class="tell-us-more visible-xs">    
    <div class="content">
        <div class="title">Tell us more!</div>
        <div class="text">Lorem ipsum text, lorem upsin is made</div>
    </div>
</section>