<div class="store-small">
    <div class="map-bg hidden-xs">
        <h1>Your service center</h1>
        <div class="media">
            <div class="store-icon-big pull-left"></div>
            <div class="media-body">
                <div class="store-data">
                    <div class="store-address">{{model.address}} {{model.city}}</div>
                    <div>{{model.state}}, {{model.zipCode}}</div>
                    <div ng-if="model.phone">Call: <a href="tel:{{model.phone}}" class="link-tel">{{model.phone}}</a></div>
                </div>
            </div>
        </div>
        <div class="store-change-service"><a ng-click="redirectToFindServiceCenter()">Change your service center</a></div>        

        <div class="store-map-brand"></div>
    </div>

    <div class="row visible-xs">      
        <section class="service-center-mobile">
            <div class="btn-box">
                <div class="btn-appointment">
                    <div class="inner-box">
                        <div class="inner-text">Schedule Appointment</div>
                    </div>
                </div>            
            </div>
            <div class="store-info">                
                <div class="store-address">{{model.address}} {{model.city}} {{model.state}}, {{model.zipCode}}</div>                
                <div ng-if="model.phone">Phone: <a href="tel:{{model.phone}}" class="link-tel">{{model.phone}}</a></div>
            </div>
            <div class="store-change-service"><a ng-click="redirectToFindServiceCenter()">Change your service center</a></div>
        </section>      
    </div>
</div>
