<div style="background-color: #ffffff" class="row">
    <section class="col-xs-12 col-sm-2 no-padding">
        <div class="store-map" style="height: 200px; width: 100%"></div>
    </section>

    <section class="col-xs-12 col-sm-6 no-padding">
        <div class="store-list-item row" style="border:0;background-color: #ffffff">
            <div class="store-list-icon"></div>
            <div class="store-list-info">
                <div class="store-address">SMALL{{model.address}}</div>
                <div>{{model.district_name}}, {{model.zip_code}}</div>
                <div ng-if="model.phone">Call: <a href="tel:{{model.phone}}">{{model.phone}}</a></div>
            </div>
            <div><button ng-click="setFavoriteStore()" type="button">SET AS MY STORE</button></div>
            <div class="store-list-miles">{{model.distance | number:0}} Miles</div>
        </div>
    </section>

    <section class="col-xs-8 col-sm-4 store-hours-box">
        <div class="store-subtitle">Hours of Operations</div>
        <ul class="list-unstyled">
            <li ng-repeat="day in days track by day" ng-class="{bolder:currentDateIndex===$index}" class="clearfix">
                <span class="pull-left">{{day}}</span><span class="pull-right">{{hours[$index]}}</span>
            </li>
        </ul>
    </section>
</div>
