
<div class="store-card-slick-container store-list-item">
    <div class="store-list-icon"></div>
    <div class="store-list-info">
        <div class="store-address">Sears Auto Center {{model.address}}</div>
        <div>{{model.district_name}}, {{model.zip_code}}</div>
        <div ng-if="model.phone">Call: <a href="tel:{{model.phone}}">{{model.phone}}</a></div>
    </div>
    <div><button ng-click="setFavoriteStore()" type="button">SET AS MY SERVICE CENTER</button></div>
    <div class="store-list-miles">{{model.distance | number:0}} Miles</div>
    <div class="store-link"><a ng-click="seeMoreDetailPopup()">See more details</a></div>
</div>

