.service-center{

    padding: 10px;

    .store-small {
        margin-top: 60px;
    }

    .map-bg{
        background: url($locationMapBg) no-repeat;
        margin-left: 0;
        width: 100%;
    }

    //DUPLICATE
    .store-icon-big{
        background-image: url($locationBIG);
        width: 47px;
        height: 57px;
        margin: 15px 10px 10px 10px;
        background-repeat: no-repeat;
    }
    .store-info{
        //        padding-left: 30px;
        width: 410px;
        margin: 0 auto;
    }
    .store-data{
        padding-top: 20px;
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: 200;
        @include bp(xs) {
            margin-left: 10px;
        }
    }
    .store-change-service{
        margin-top: 5px;
        color:#2b9ace;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;

        a {
            cursor: pointer;
            background: url(../resources/images/car-profile/edit.png) no-repeat left;
            padding-left: 15px;
            @include bp(xs) {
                color: #ffffff;
            }
        }
    }
    .store-map-brand{
        background: url($locationMarker) no-repeat;
        height: 95px;
        width: 127px;
        margin: 20px auto;
    }

    .link-tel{
        color:#ffffff;
    }

    h1{
        color: #ffffff;
        font-size: 3rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .btn-appointment{
        text-align: center;
        margin-top: -5px;
        padding-top: 15px;

        div{
            @extend %btn-appointment;
            margin: 0 auto;
        }
    } 

    .store-car-heart{
        height: 145px;
        width: 100%;
        div{
            width: 120px;
            left: 0;
            height: 100%;
            background-image: url($tellUsMoreIcon);
            background-repeat: no-repeat;
        }
    }
}

.service-center-mobile{
    background: url(../resources/images/car-profile/map-bg-mobile.png) center center no-repeat;
    background-size: cover;   
    padding: 65px 40px 60px;
    color: white;    
    font-weight: 400;

    .store-info {
        background: url($locationMarker) top left no-repeat;
        padding-left: 145px;
        margin: 50px 0 20px;
        min-height: 100px;
        a {
            color: white;    
        }
    }  

    .store-change-service {
        text-align: center;
        a {
            color: white;
            cursor: pointer;
            background: url(../resources/images/car-profile/edit-mobile.png) no-repeat left;
            padding-left: 15px;
        } 
    }

    .btn-box {
        text-align: center;
    }

    .btn-appointment{       
        display: inline-block;
        text-align: center;       
        background: white;
        border: 1px solid #22347d;
        padding: 15px 20px;        
        @include border-radius(4px);        
        .inner-box {
            background: url(../resources/images/car-profile/calendar.png) no-repeat left;
            padding-left: 35px;            
            .inner-text {
                background: url(../resources/images/car-profile/arrow.png) no-repeat right;
                text-transform: uppercase;
                color: #22347d;
                font-weight: 700;
                font-size: 13px;
                padding-right: 25px;
            }
        }
    }
}

.tell-us-more{

    text-align: center;
    font-family: Roboto;

    @include bp(xs) {

        padding: 30px 0 40px;

        h1 {
            color: #2b9ace;
            font-weight: 700;
        }
    }

    hr{
        margin-bottom: 40px;
        margin-top: 40px;
        width: 70%;
    }

    p{
        color: #ffffff;
        text-align: center;
        font-weight: 200;
        font-size: 1.6rem;
        padding: 20px;
        @include bp(xs) {
            color: #555e6c;
            font-size: 18px;
            font-weight: 400;
            padding: 0 40px;
        }
    }

    .btn-tell-us-more {
        border: 2px solid #ffffff;
        background: none;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 6px 16px 6px 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include bp(xs) {
            color: #2b9ace;
            font-size: 13px;
            font-weight: 700;
            border-color: #2b9ace;
        }

    }

}