@import "compass/css3/transform";
@import "compass/css3/box-shadow";

.car-profile-info {
    font-family: Roboto;
    max-width: 434px;
    margin: 0 auto;
    position: relative;
    padding: 0 0 10px 10px;
    .car-profile-picture{
        background: url(../resources/images/car-profile/ImageProfile.jpg) center center no-repeat;
        display: inline-block;
        height: 141px;
        width: 141px;
        position: relative;

        .car-card-tag{
            @include simple-transform(1, -6deg, 0, 50%);
            @include border-radius(3px);
            position: absolute;
            bottom: 5px;
            background-color: #2b9ace;
            width: 100%;
            padding: 5px;
            .edit-car-name {
                background: url(../resources/images/car-profile/edit-icon.png) right center no-repeat;
                padding: 0 20px 0 0;
                color: white;
                font-weight: 900;
                line-height: 1.2em;
                text-align: center;
                cursor: pointer;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .name-your-car {
            background-color: white;
            text-align: center;
            font-weight: bold;
            color: #2b9ace;
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            width: 100%;
            padding: 8px 0;
            font-size: 16px;
            max-width: 200px;
        }
    }

    .modal-edit-car-name {
        @include box-shadow(rgba(0,0,0,0.4) 0 0 20px);
        background-color: white;
        padding: 10px;
        position: absolute;
        bottom: 1px;
        left: 1px;
        max-width: 200px;
        @include bp(xs) {
            left: 30%;
        }
        .edit-name {
            border: none;
            width: 100%;
            font-size: 16px;
            margin-bottom: 15px;
            padding: 0 10px;
        }
        .btn-action {
            height: 20px;
            width: 20px;
            line-height: 20px;
            display: inline-block;
            margin-left: 5px;
            cursor: pointer;
        }

        .btn-action.btn-close {
            background: url(../resources/images/car-profile/x_button.png);
            background-size: cover;
        }
        .btn-action.btn-add {
            background: url(../resources/images/car-profile/v_button.png);
            background-size: cover;
        }

        .btn-delete {
            font-weight: bold;
            color: #2b9ace;
            cursor: pointer;
        }
    }

    .car-card{
        display: block;
        padding: 20px 0 0 20px;
        font-weight: 900;
        overflow: hidden;

        .car-card-year{
            color: #555e6c;
            font-size: 2.0em;
            line-height: 0.8em;
        }

        .car-card-brand{
            color: #555e6c;
            font-size: 4.0em;
            line-height: 0.8em;
        }

        .car-card-model{
            color: #b0b4ba;
            font-size: 2.8em;
            line-height: 0.9em;
        }

        .car-card-mileage-title{
            display: none;
        }

        .car-card-mileage-data{
            color: #555e6c;
            font-size: 1.3em;
            padding-left: 82px;
            padding-top: 4px;
            min-height: 20px;
            margin-top: 6px;
            background-image: url(../resources/images/car-profile/carIconMillage.png);
            background-repeat: no-repeat;

            input{
                width:120px;
                border:1px solid grey;
                /*display: inline;*/
                display: inline-block;
            }
        }

        .car-card-mileage-change{
            background: url(../resources/images/car-profile/edit.png) no-repeat left;
            padding-left: 15px;
            color: #2b9ace;
            font-size: 0.8em;
            font-weight: 700;
            margin-left:5px;
            cursor: pointer;
        }
    }
}

.service-alert{
    font-family: Roboto;
    text-align: center;

    .title-header {
        color: #b0b4ba;
        margin-bottom: 10px;
    }

    @include bp(md) {
        margin-top: 20px;
    }
    @include bp(lg) {
        margin-top: 0;
    }
    .car-profile-alerts-icons {
        background: url("../resources/images/car-profile/car-alerts-bg.png") top center no-repeat;
        background-size: contain;
        text-align: center;
        max-width: 471px;
        margin: 0 auto;

        .item {
            width: 33.3333%;
            float: left;

            .icon {
                height: 131px;
                width: 131px;
                line-height: 131px;
                display: inline-block;
            }

            $components:tires oil brakes;
            $statusList:empty low medium full;

            @each $component in $components {
                @each $status in $statusList {
                    .icon.service-alert-#{$component}-#{$status} {
                        background: url("../resources/images/car-profile/#{$component}/#{$component}_#{$status}.png") center center no-repeat;
                    }
                }
            }

            .car-profile-alerts-text {
                text-align: center;
                margin: 20px auto 0;
                .title {
                    color: #555e6c;
                    font-size: 1.2em;
                    font-weight: 900;
                }
                .data {
                    color: #b0b4ba;
                    display: block;
                    font-size: 1em;
                    font-weight: 500;
                    line-height: 1em;
                    margin-top: 5px;
                }
            }
        }
    }
}

.recommended-services {
    .service-list{
        margin-top: 15px;
        .well{
            font-size: 1.0em;
            font-weight: 400;
            margin: 3px 0 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            -webkit-box-shadow: none;

            a {
                color: #555e6c;
                &.marked:hover {
                    text-decoration: underline;
                }
            }
        }

        .prev-service{
            margin-top: 5px;
            margin-bottom: 10px;
            color: #b0b4ba;
            font-size: 0.8em;
            font-weight: 400;
        }
    }
}

.recalls-and-services {
    color:  #555e6c;
    .see-more {
        margin-top: 5px;
    }
    .recall-info{
        padding-left:50px;
        background-image: url(../resources/images/car-profile/recall.png);
        background-repeat: no-repeat;
        background-position-x: 5px;
        .count{
            font-size: 1.2em;
            font-weight: 900;
        }
        .summary,a{
            font-size: 1.0em;
            font-weight: 400;
        }
        .summary{
            height: 2.4em;
            line-height: 1.2em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .service-info{
        margin-top: 30px;
        padding-left:50px;
        background-image: url(../resources/images/car-profile/RecommendedService.png);
        background-repeat: no-repeat;
        .count{
            font-size: 1.2em;
            font-weight: 900;
            line-height: 1em;
        }
    }
}

.car-profile-mobile {
    font-family: Roboto;
    position: relative;

    .nav-bar {
        border: 1px solid #eaeaea;
        background-color: #f6f6f7;
        padding: 12px 0;
        .header {
            float: left;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: center;
            color:  #555e6c;
            font-weight: 900;
            font-size: 16px;

            li {
                display:block;
                float: left;
                padding: 0 20px;
                cursor: pointer;
                div {
                    display: inline-block;
                    line-height: 1em;
                    text-align: left;
                    padding: 5% 0;
                }
            }

            li~li {
                border-left: 1px solid #b0b4ba;
            }

            .item50 {
                width: 50%;
            }

            .item100 {
                width: 100%;
                div {
                    padding-top: 8px;
                    padding-bottom: 8px;
                }
            }

            .recall-header {
                background: url(../resources/images/car-profile/recall-gray.png) center left no-repeat;
                padding-left: 40px;
                line-height: 2em;
            }

            .suggested-header {
                background: url(../resources/images/car-profile/suggested.png) center left no-repeat;
                padding-left: 40px;

            }
        }
    }

    .section-blue {
        background-color:  #2b9ace;
    }

    .section-white {
        background-color:  white;
    }

    .section-trapezium-up {
        @include skew(0,4deg);
        padding: 40px 0;
        //@include box-shadow(#2b9ace 0 0 1px);
    }

    .section-trapezium-down {
        @include skew(0,-8deg);
        padding-top: 60px;
    }

    .section-trapezium-inner {
        @include skew(0,8deg);
    }

    .section-trapezium-box {
        @include skew(0,-4deg);
        padding: 0 40px;
    }

    .btn-add-mobile{
        position: absolute;
        background-image: url(../resources/images/car-profile/mobile-edit.png);
        width: 47px;
        height: 47px;
        right: 30px;
        top: 100px;
    }
    .service-alert{
        @include transform(scale(0.8));
    }
    .car-card-slick-container{
        text-align: center;
    }
    .car-card-tag{
        @include simple-transform(1, -6deg, 0, 50%);
        @include border-radius(3px);
        position: absolute;
        top: 107px;
        background-color: #2b9ace;
        width: 140px;
        padding: 5px;
        margin: 0 auto;
        left: 16px;
        right: 0;
        .edit-car-name {
            background: url(../resources/images/car-profile/edit-icon.png) right center no-repeat;
            padding: 0 20px 0 0;
            color: white;
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .car-card{
        margin-bottom: 20px;
        .car-card-brand{
            text-overflow: ellipsis;
            width: 90%;
            overflow: hidden;
            margin: 0 auto;
        }
        .car-card-mileage{
            display: inline-block;
            margin-left: -20px;
            margin-top: 38px;
            text-align: center;
            .car-card-mileage-data{
                margin-left: 0;
            }
        }
    }

    .name-your-car {
        background-color: white;
        text-align: center;
        font-weight: bold;
        color: #2b9ace;
        cursor: pointer;
        position: absolute;
        top: 120px;
        width: 100%;
        padding: 8px 0;
        font-size: 16px;
    }

    .section-recommended-recalls {
        padding: 30px;

        .recommended-box {
            background:  url(../resources/images/car-profile/recommended-mobile.png) center top no-repeat;
            padding: 70px 0 30px;
            .count{
                font-size: 2em;
                font-weight: 900;
                line-height: 1em;
                text-align: center;
            }
        }

        .recall-box {
            background:  url(../resources/images/car-profile/recall-mobile.png) center top no-repeat;
            padding-top: 60px;
            text-align: center;
            .count{
                font-size: 2em;
                font-weight: 900;
                line-height: 1em;
            }
            .summary {
                padding: 20px 20px 5px;
            }
            .see-more {
                color:  #2b9ace;
            }
        }
    }

    .last-service {
        padding: 20px 30px;
        .section-title {
            text-align: center;
            .btn-history {
                background:  url(../resources/images/car-profile/show-history.png) center left no-repeat;
                padding-left: 30px;
                color: white;
                line-height: 1em;
            }
        }
    }

}

@include bp(xs) {
    //to change order of divs
    .reorder-xs{
        .up-xs{
            display: table-header-group;
        }
        .down-xs{
            display: table-footer-group;
        }
    }
}
