.car-profile{
    .header{
        background-color: #cccccc;
    }
    .service-center{
        background-color: #555d6a;
    }
    .service-history{
        background-color: #2b9ace;
    }






}





@import "car-profile-header";
@import "car-profile-last-services";
@import "car-profile-your-store";