@import "compass/css3/transform";

.car-profile-last-services{
  padding-top: 80px;
  min-height: 800px;
  margin-top: -10px;
  padding-bottom:120px;
  padding-left: 20px;

  //skew header
  position: relative;
  left: -88px;
  z-index: 15;
  @include rotate(4.6deg);
  .car-profile-last-services-inner{
    @include rotate(-4.6deg);
    margin-left:36px;
  }
  
  //skew end

  @extend %font-Roboto;
  background-color: #2b9ace;
  color: #ffffff;
  font-weight: 400;
  text-align: left;

  .section-title {
    font-size: 30px;
    color:  #ffffff;
    font-weight: 400;
  }
  .section-desc {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .last-service-top {
    .section-title {
      float: left;
    }
    a {
      display: block;
      margin-left: 20px;
      float: left;
    }
    .btn-history {
      color:  #91dcff;
      font-weight: 500;
      font-size: 18px;
      line-height: 45px;
      left: -50px;
    }
  }
  .service-history {
    .service-history-img {
      margin-right: 30px;
      background-image: url(../resources/images/car-profile/mecanic.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      padding: 20px;
      border: 1px solid #105cb6;
      width: 253px;
      height: 119px;
      .service-history-icon {
        position: absolute;
        background-repeat: no-repeat;
        height: 53px;
        width: 48px;
        float: left;
        margin: 30px auto;
      }
      .service-history-icon-private {
        background-image: url(../resources/images/car-profile/ServiceHistoryIconPrivate.png);
      }
      .service-history-icon-non-private {
        background-image: url(../resources/images/car-profile/ServiceHistoryIcon.png);
      }
    }
    .service-history-data {
      .sh-data{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      .sh-data-mileage{
        font-size: 18px;
        font-weight: 900;
        line-height: 16px;
        float: left;
      }
      .sh-date-small{
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-left: 20px;
      }
    }
  }

  .section-article {
    margin-top: 40px;
    .car-article {
      .car-article-img {
        margin-right: 30px;
        .car-article-media-object {
          height: 200px;
        }
      }
      .car-article-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .car-article-url {
        font-size: 11px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.47);
      }
      .car-article-tag {
        font-size: 12px;
        font-weight: 400;
        margin-top: 20px;
      }
    }
  }
}