.car-profile-header{
	height: 240px;
	background-color: white;
	font-family: Roboto;
	min-width: 1200px;

	.header-left{
		position: relative;
		width: 500px;
		float: left;

		.car-profile-picture{
			background-image: url(../resources/images/car-profile/ImageProfile.jpg);
			background-position: center center;
			background-repeat: no-repeat;
			display: inline-block;
			float: left;
			height: 141px;
			width: 141px;
			margin-left: 18px;
		}

		.car-card{
			display: inline-block;
			margin-left: 20px;
			margin-top: 20px;
			font-weight: 900;

			.car-card-year{
				color: #555e6c;
				font-size: 2.0em;
				line-height: 0.8em;
			}

			.car-card-brand{
				color: #555e6c;
				font-size: 4.0em;
				line-height: 0.8em;
			}

			.car-card-model{
				color: #b0b4ba;
				font-size: 2.8em;
				line-height: 0.9em;
			}

			.car-card-mileage-title{
				display: none;
			}

			.car-card-mileage-data{
				color: #555e6c;
				font-size: 1.3em;
				padding-left: 82px;
				padding-top: 4px;
				min-height: 20px;
				margin-top: 6px;
				background-image: url(../resources/images/car-profile/carIconMillage.png);
				background-repeat: no-repeat;
			}

			.car-card-tag{
				@include simple-transform(1, -6deg, 0, 50%);
				@include border-radius(3px);
				position: absolute;
				left: 32px;
				top: 107px;
				margin: 0 auto;
				font-size: 0.95em;
				line-height: 1.0em;
				background-color: #2b9ace;
				color: white;
				padding: 6px 10px 6px 10px;
				width: 121px;
				text-align: center
			}
		}
	}

	.header-center{
		width: 500px;
		float: left;
		.service-alert{
			width: 430px;
			height: 136px;
			background-image: url(../resources/images/car-profile/car-alerts-bg.png);
			background-position: center center;
			background-repeat: no-repeat;
			&>div{
				padding-top: 134px;
				width: 33.3%;
				height: 100%;
				display: inline-block;
				vertical-align: top;
				text-align: center;
			}

			.title{			
				color: #555e6c;
				font-size: 1.2em;
				font-weight: 900;
			}

			.data{
				display: block;
				color: #b0b4ba;
				font-size: 1.0em;
				font-weight: 500;
				line-height: 1.0em;
			}

			.service-alert-oil{
				background-image: url(../resources/images/car-profile/oilchange-bg.png);
				background-position: 47px 20px;
				background-repeat: no-repeat;	
			}


			.service-alert-tire{
				background-image: url(../resources/images/car-profile/tirerotation-bg.png);
				background-position: 16px 35px;
				background-repeat: no-repeat;	
			}

			.service-alert-brakes{
				background-image: url(../resources/images/car-profile/brakes-bg.png);
				background-position: 22px 15px;
				background-repeat: no-repeat;
			}
		}
	}

	.header-right{
		color:  #555e6c;
		float: left;
		width: 220px;
		.recall-info{
			padding-left:44px;
			background-image: url(../resources/images/car-profile/recall.png);
			background-repeat: no-repeat;
			.count{
				font-size: 1.2em;
				font-weight: 900;
			}
			.summary,a{
				font-size: 1.0em; 
				font-weight: 400;
			}
			.summary{
				height: 2.4em;
				line-height: 1.2em;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}

		.service-info{
			margin-top: 10px;
			padding-left:44px;
			background-image: url(../resources/images/car-profile/RecommendedService.png);
			background-repeat: no-repeat;
			.count{
				font-size: 1.2em;
				font-weight: 900;
			}
		}
	}

}