.car-profile{

    .car-profile-container{
        overflow: hidden;
        margin-bottom:-50px;
    }
	.header{
		height: 272px;
	}
	padding: 0;
	//overflow-x: hidden;
	height: 100%;

    .second-header{

        background-color: #f7f8f8;
        border: 1px solid #e7e7e7;

        height: 80px;

        .row{
            height: 100%;
        }


        .img{
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 37px;
            margin-right: 10px;
            height: 100%;
        }

        .recall{
            .img{
                background-image: url($headerRecall);
                padding-left: 42px;
            }
        }
        .services{
            .img{
                background-image: url($headerService);
                padding-left: 36px;
            }
        }

        .wrapper-parent{
            position: relative;
            height: 100%;
        }

        .wrapper-center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .second-header-text{
            font-size: 1.8rem;
            font-weight: 900;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 124%;
        }
        .divisor{
            border-left: 1px #a0a0a0 solid;
            height: 50px;
            margin-top: 15px;
        }
    }


	section{
		padding:0;
	}
// use includes below, unless LAYOUT styling
	.last-service-history{
		position: relative;
		background-color:#2b9ace;
		z-index:10;
		margin-top: 40px;
	}

    .service-center{
        background-color: #555e6c;
        padding-right: 76px;//needed??

        @include bp(xs) {
            background-color: #ffffff;
            padding-right: 0;
        }
//        height: 1000px;
    }	

    @include bp(xs) {
	    margin-bottom: 0;
    }
}



.background-service-center{
    background-color: #555e6c;
}


.stores-social-box-big{
    width: 210px;
    margin: 50px auto 20px auto;

    .stores-social{
        width: 70px;
        float: left;
    }

    .stores-social-internal{
        background-image: url($shareInternalBig);
        width: 60px;
        height: 58px;
    }
    .stores-social-facebook{
        background-image: url($shareFbBig);
        width: 60px;
        height: 58px;
    }
    .stores-social-twitter{
        background-image: url($shareTwBig);
        width: 59px;
        height: 58px;
    }
}


.feedback-card{
    text-align: center;
    margin: 0 auto;
    color: #a2a2a2;
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 10px;

    button{
        margin-top:20px;
        border: 0;
        width: 60px;
        height: 58px;
        background-image: url($feedbackCard);
    }

    div{
        margin: 20px;
    }
}

@import "car-profile-header";
@import "car-profile-last-services";
@import "car-profile-store";
