<section class="visible-xs">
    <div class="clearfix"></div>
    <div class="dashboard-bottom-mobile visible-xs">
        <div class="col-xs-12 footer-btns">
            <a href="#" class="btn-social btn-mail">
            </a>
            <fb-share class="btn-social btn-facebook" model="model.facebookModel"></fb-share>
            <tweet class="btn-social btn-twitter" model="model.twitterModel"></tweet>
            <br/>
            <div ng-click="openFeedbackForm()" class="dashboard-mobile-feedback"></div>
        </div>
    </div>
</section>