<div class="recalls-info">
    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Model Affected</div>
        <div class="recall-info-data col-xs-9 col-md-8">{{modelYear}} {{make}} {{model}}</div>
    </div>

    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Component</div>
        <div class="recall-info-data col-xs-9 col-md-8">{{component}}</div>
    </div>

    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Date</div>
        <div class="recall-info-data col-xs-9 col-md-8">{{recallDate  | date:'MM/dd/yyyy'}}</div>
    </div>

    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Summary</div>
        <div class="recall-info-data col-xs-9 col-md-8">{{summary}}</div>
    </div>

    <!--
    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Consequences</div>
        <div class="recall-info-data col-xs-9 col-md-8">{{consequence}}</div>
    </div>
    -->

    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Remedy</div>
        <div class="recall-info-data col-xs-9 col-md-8">{{remedy}}</div>
    </div>

    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Notes</div>
        <div class="recall-info-data col-xs-9 col-md-8">{{notes}}</div>
    </div>
</div>