<div class="recalls-info">

    <div class="row recall-row-header">
        <div class="separator col-xs-6 col-md-12"></div>
        <div class="separator-header recall-info-title col-xs-6 col-md-12">{{recallDate  | date:'MM/dd/yyyy'}}</div>
    </div>

    <div class="row recall-row">
        <div class="recall-info-title col-xs-6 col-md-2">Model Affected</div>
        <div class="recall-info-data data-model col-xs-6 col-md-10">{{modelYear}} {{make}} {{model}}</div>
    </div>

    <div class="row recall-row">
        <div class="recall-info-title col-xs-6 col-md-2">Component</div>
        <div class="recall-info-data data-component col-xs-6 col-md-10">{{component}}</div>
    </div>
    <div class="row recall-row">
        <div class="recall-info-title title-summary col-xs-12 col-md-2">Summary</div>
        <div class="recall-info-data data-summary col-xs-12 col-md-10">{{summary}}</div>
    </div>

    <!--
    <div class="row">
        <div class="recall-info-title col-xs-3 col-md-2">Consequences</div>
        <div class="recall-info-data col-xs-9 col-md-10">{{consequence}}</div>
    </div>
    -->

    <div class="row recall-row">
        <div class="recall-info-title title-remedy col-xs-12 col-md-2">Remedy</div>
        <div class="recall-info-data data-remedy col-xs-12 col-md-10">{{remedy}}</div>
    </div>

    <div class="row recall-row">
        <div class="recall-info-title title-notes col-xs-12 col-md-2">Notes</div>
        <div class="recall-info-data data-notes col-xs-12 col-md-10">{{notes}}</div>
    </div>

</div>