<div class="services-info row hidden-xs">
        <div class="col-sm-2"><div class="service-type-manual"></div>{{serviceDate}}</div>
        <div class="col-sm-1">{{serviceMileage | number}}</div>
        <div class="col-sm-4 service-highlight">{{serviceCenter}}</div>
        <div class="col-sm-5">{{serviceDesc}}</div>
</div>

<div class="services-info-small visible-xs">
		<div class="row sis-header">
			<div class="service-type-manual"></div>
        	<div>{{serviceDate}}</div>
        </div>
        <div class="row">
        <div class="sis-title col-xs-3">MILEAGE</div>
        	<div class="sis-data">{{serviceMileage | number}}</div>
        </div>
        <div class="row">
       		<div class="sis-title col-xs-3">SOURCE</div>
        	<div class="sis-data">{{serviceCenter}}</div>
        </div>
        <div class="row">
        	<div class="sis-title col-xs-3">SERVICE</div>
        	<div class="sis-data">{{serviceDesc}}</div>
        </div>
        <div class="row">
        	<div class="sis-title col-xs-3">DETAILS</div>
        	<div class="sis-data">{{serviceDesc}}</div>
        </div>
</div>