<div class="vg-trend-view">
    <div class="media">
        <div class="pull-left vg-trend-view-img" >
            <img class="media-object vg-trend-view-media-object" src="{{trend.imageUrl}}" alt="Trend Image">
        </div>
        <div class="media-body vg-trend-view-media-body">
            <h4 class="media-heading">{{trend.title}}</h4>
            {{trend.summary}}
            <br/>
            <a href="{{trend.sourceUrl}}" target="_blank">{{trend.sourceUrl}}</a>
            <br/>
            <span class="vg-trend-view-tags">Tags: {{trend.topic}}</span>
        </div>
    </div>    
</div>
