@include bp(md) {
  .recall-info-title {
    color: #555e6c;
    font-weight: bold !important;
  }
  .recall-info-data {
    color: #555e6c;
    font-size: 0.8em;
  }
  .data-summary, .data-remedy, .data-notes {
    word-break: normal;
  }
}
@include bp(xs) {
  .recall-info-title {
    color: #a7abb0;
    font-weight: normal;
  }
  .recall-info-data {
    color: #555e6c;
    font-weight: bold !important;
  }
  .data-summary, .data-remedy, .data-notes {
    word-break: break-all;
    margin-top: 10px;
  }
  .recall-content {
    background-color: rgb(244, 244, 244);
  }
  .recall-row {
    border-bottom: 1px solid #ffffff;
  }
}

.recall-box{
	.recalls-info{
		position: relative;
		border-bottom: 1px solid #ddd;
		padding: 24px 10px;
		.row{
			padding:10px;
			}
		.separator{
			position: absolute;
			bottom: -27px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 100px;
			height: 51px;
			background-image: url("../resources/images/recalls_separator.png");
		}
	}
}


.page-title{
	color:#18abc5;
	font-size:24px;
	font-weight: normal;
}


.page-buttons{
	margin-top:20px;
	:first-child{
		border-right: none !important;
	}
	div{
		cursor: pointer;
		padding: 4px;
		border:2px solid #e7e7e7;
		text-align: center;
		font-size: 20px;
		color:#a7abb0;
	}
	.selected{
		background-color:#f4f4f4;
		color:#505b6a;
		font-weight: bold;
	}
}
