.font-Roboto {
  font-family: "Roboto";
}

.recall-box{
  .recalls-info{
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 24px 10px;
    .row{
      padding:10px;
      .recall-info-title {
        @extend .font-Roboto;
        color: #555e6c;
        font-weight: bold !important;
      }
      .recall-info-data {
        @extend .font-Roboto;
        color: #555e6c;
        font-size: 0.8em;
      }

    }
    .separator{
      position: absolute;
      bottom: -27px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100px;
      height: 51px;
      background-image: url("../resources/images/recalls_separator.png");
      background-repeat: no-repeat;
    }
  }
}

@include bp(md) {

}
@include bp(xs) {
  .recall-box {
    .recalls-info {
      .row {
        .recall-info-title {
          color: #a7a8aa;
          font-weight: normal;
        }
      }
    }
  }

  .recall-info-data {
    color: #515b67;
    font-weight: bold !important;
    word-break: break-all;
  }
  .data-summary, .data-remedy, .data-notes {
    margin-top: 10px;
  }
  .data-model, .data-component, .data-date {
    text-align: center;
  }
  .recall-content {
    background-color: #f8f8f8;
  }
  .recall-row {
    border-bottom: 1px solid #ffffff;
  }
  .recalls-info {
    border-bottom: none;
  }
  .recall-box {
    .recalls-info {
      .separator {
        background-color: #ffffff;
        left: -15px;
        right: -15px;
        width: auto;
      }
    }
  }
  .title-car-records {
    text-align: center;
  }
}

.page-title{
	color:#18abc5;
	font-size:24px;
	font-weight: normal;
}


.page-buttons{
	margin-top:20px;
	:first-child{
		border-right: none !important;
	}
	div{
		cursor: pointer;
		padding: 4px;
		border:2px solid #e7e7e7;
		text-align: center;
		font-size: 20px;
		color:#a7abb0;
	}
	.selected{
		background-color:#f4f4f4;
		color:#505b6a;
		font-weight: bold;
	}
}
