.recall-box{
	.recalls-info{
		.row{
			padding:10px;
			.recall-info-title{
				font-weight: bold !important;
			}
			.recall-info-data{
				font-size:0.8em;
			}
		}
		border-bottom: 1px solid #ddd;
		padding: 16px 0;
	}
}

