.service-box{
	.service-header{
		color: #555;
		padding: 10px 0 10px 0;
		@extend %font-Roboto;
		font-weight: bold;
		font-size: 1.1em;
	}
	.services-info{
		font-size: 0.9em;
		@extend %font-Roboto;
		color: #888;
		.service-highlight{
			color: #555;
			text-decoration: underline;
		}
		.service-data{
			padding-top:10px;
		}
		padding-bottom:10px;
	}

	.service-type-manual{
		background-image: url("../resources/images/wrench.png");
      	background-repeat: no-repeat;
      	background-position: center center;
      	height: 40px;
      	width: 40px;
      	background-size: contain;
      	float:left;
      	margin-top:-10px;
	}
}

.services-info-small{
	@extend %font-Roboto;
	.row.sis-header{
		text-align: center;
		background-color: #fff;
		font-size: 1.6em;
		color: #a0a1a3;
	}
	.row{
		padding:20px;
		background-color: #f8f8f8;
		.sis-data{
			font-size: 1.2em;
			font-weight: bold;
			color: #585d6b;
		}
		.sis-title{
			color: #b0b1b2;
		}
	}
	.service-type-manual{
		background-image: url("../resources/images/wrench.png");
      	background-repeat: no-repeat;
      	background-position: center center;
      	height: 40px;
      	width: 40px;
      	background-size: contain;
      	float:left;
      	margin-top:-10px;
	}
}