<div ng-class="selectedTab === 'services' ? 'page-buttons-selected' : 'page-buttons-unselected'" class="row page-header-recalls">
	<a href="/services">
        <div
                ng-class="selectedTab === 'services' ? 'header-select-service' : 'header-unselect-recall'"
                class="col-xs-6 col-md-5  col-md-offset-1 no-border-right visible-xs"><span class="no-rotate">Service history</span></div>
	    <div
	    	ng-class="selectedTab === 'services' ? 'selected' : 'un-selected'"
	    	class="col-xs-6 col-md-5  col-md-offset-1 no-border-right  hidden-xs"><span class="no-rotate">Service history</span></div>
    </a>
    <a href="/recalls">
        <div
                ng-class="selectedTab === 'recalls' ? 'header-select-recall' : 'header-unselect-service'"
                class="col-xs-6 col-md-5 visible-xs"><span class="no-rotate">Recalls</span></div>
    	<div 
    		ng-class="selectedTab === 'recalls' ? 'selected' : 'un-selected'"
    		class="col-xs-6 col-md-5  hidden-xs"><span class="no-rotate">Recalls</span></div>
    </a>
</div>