<div ng-class="selectedTab === 'services' ? 'page-buttons-selected' : 'page-buttons-unselected'" class="row page-header-recalls hidden-xs">
	<a href="/services">
	    <div
	    	ng-class="selectedTab === 'services' ? 'selected' : 'un-selected'"
	    	class="col-xs-6 col-md-5  col-md-offset-1 no-border-right"><span class="no-rotate">Services</span></div>
    </a>
    <a href="/recalls">
    	<div 
    		ng-class="selectedTab === 'recalls' ? 'selected' : 'un-selected'"
    		class="col-xs-6 col-md-5"><span class="no-rotate">Recalls</span></div>
    </a>
</div>
<div ng-class="selectedTab === 'services' ? 'page-buttons-selected-left' : 'page-buttons-selected-right'" class="row page-header-recalls visible-xs">
	<a href="/services">
	    <div
	    	ng-class="selectedTab === 'services' ? 'heade-select-left' : 'heade-select-right'"
	    	class="col-xs-6 col-md-5  col-md-offset-1 no-border-right"><span class="no-rotate">Services</span></div>
    </a>
    <a href="/recalls">
    	<div
    		ng-class="selectedTab === 'recalls' ? 'heade-select-right' : 'heade-select-left'"
    		class="col-xs-6 col-md-5"><span class="no-rotate">Recalls</span></div>
    </a>
</div>
