<style>
    .page-title {
        text-align: center;
        margin-top: 16%;
        color: white;
        font-weight: bold;
        font-size: 60px;
        text-shadow: black 1px 4px 8px;
    }

    .start-now-box {
        width: 280px;
        font-size: 20px;
        background-color: rgb(234, 231, 231);
        font-weight: bold;
        height: 60px;
        font-family: arial;
        margin-top: 15px;
    }

    .modal-content {
        width: 460px;
    }

    .landing-top{
        height: 70%;
        min-height: 410px;
    }


    .carousel_img{
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    .carousel_data{
        position: absolute;
        top:0;
        left:0;
        right:0;
    }

    .landing-top .carousel .carousel-control{
        visibility: hidden; 
    }

    .landing_box{
        position: relative;
        height:100%;
        background-position: center center;
        background-size: cover;
        color:white;
    }

    .landing-bottom{
        height:30%
    }

    .landing_box p{
        font-size:15px;
        text-align: center;
        font-weight: 200;
        position: absolute;
        margin:0 10% 0 10%;


        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .landing_box_3 p{
        color:gray;
    }

    .landing_box_1{
        background-image:url('resources/images/landing/box1.jpg');
    }

    .landing_box_2{
        background-image:url('resources/images/landing/box2.jpg');
    }

    .landing_box_3{
        background-image:url('resources/images/landing/box3.jpg');
    }

    .btn-start-now-box{
        background-image: url('resources/images/landing/Button_Small.png');
        height: 45px;
        width: 172px;
        cursor: pointer;
        background-size: contain;
        margin-top: 25px;
    }

    .top_logo{
        background-image:url('resources/images/landing/Logo_Small.png');
        margin:24px;
        width: 100%;
        height: 40px;
        background-position: left center;
        background-repeat: no-repeat;
    }

    .landing-page-logo{
        background-image:url('resources/images/landing/Text_Medium.png');   
        height: 68px;
        width: 570px;
        margin-top: 65px;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .landing-page-text{
        color:white;
        font-size:15px;
        width: 55%;
        text-align: center;
        font-weight: 200;
    }

    .carousel_img_LP_1{
        background-image:url('resources/images/landing/LP_1.jpg');   
    }

   .carousel_img_LP_2{
        background-image:url('resources/images/landing/LP_2.jpg');   
    }

   .carousel_img_LP_3{
        background-image:url('resources/images/landing/LP_3.jpg');   
    }


   .carousel_img_LP_4{
        background-image:url('resources/images/landing/LP_4.jpg');   
    }

   .carousel_img_LP_5{
        background-image:url('resources/images/landing/LP_5.jpg');   
    }

    .user-type, .container-fluid, body, html{
        height:100%;
    }

    .carousel, .carousel_data, .carousel_img, .carousel-inner, .carousel-inner > .item{
            height:100%;
    }


    @media (max-width: 768px) { 
        .landing-bottom{
            display: none;
        }

        .top_logo{
            background-image:url('resources/images/landing/Logo_Medium.png');
            margin:0;
            width: 100%;
            height: 52px;
            background-position: center center;
            background-repeat: no-repeat;
            margin-top: 94px;
        }

        .landing-page-logo{
            background-image: url('resources/images/landing/Text_Small.png');
            height: 136px;
            width: 400px;
            margin-top: 20px;
        }

        .btn-start-now-box{
            background-image: url('resources/images/landing/Button_Big.png');
            height: 66px;
            width: 250px;
            margin-top: 25px;
        }

        .landing-page-text{
            width: 80%;
            text-align: justify;
        }

        .landing-top, .carousel, .carousel_data, .carousel_img, .carousel-inner, .carousel-inner > .item{
            height:100%;
        }

        .carousel_img_LP_1{
            background-image:url('resources/images/landing/LP_1_mobile.jpg'); 
            height:100% !important;  
        }

       .carousel_img_LP_2{
            background-image:url('resources/images/landing/LP_2_mobile.jpg'); 
            height:100% !important;  
        }

       .carousel_img_LP_3{
            background-image:url('resources/images/landing/LP_3_mobile.jpg'); 
            height:100% !important;  
        }


       .carousel_img_LP_4{
            background-image:url('resources/images/landing/LP_4_mobile.jpg'); 
            height:100% !important;  
        }

       .carousel_img_LP_5{
            background-image:url('resources/images/landing/LP_5_mobile.jpg'); 
            height:100% !important;  
        }
    }

</style>
<div class="user-type">
    <div class="row landing-top">
        <carousel interval="myInterval" disable-animation="true">
          <slide ng-repeat="slide in slides" active="slide.active">
            <div class="carousel_img {{slide.class}}"></div>
          </slide>
        </carousel>
        <div class="carousel_data">
            <div class="top_logo"></div>
            <div class="landing-page-logo center-block"></div>
            <p class="landing-page-text center-block"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="btn-start-now-box center-block" ng-click="startNow()"></div>
        </div>
    </div>
    <div class="row landing-bottom">    
        <div class="col-sm-4 landing_box landing_box_1">
            <p>Get notifications when your cart needs services</p>
        </div>
        <div class="col-sm-4 landing_box landing_box_2">
            <p>Get service recommendation based on your milleage</p>
        </div>
        <div class="col-sm-4 landing_box landing_box_3">
            <p>Enjoy great discount on your Automotive parts</p>
        </div>
    </div>
</div>

<!-- TODO: templates, move to ng-include? -->

<script type="text/ng-template" id="myModalContent.html">

    <div ng-if="destinationPage === '/add-car'">
        <div class="modal-header">
            <img src="../resources/images/pop-title-login.jpg">
        </div>
        <div class="modal-body form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="firstName">First Name</label>
                <div class="col-sm-5 ">
                    <input id="firstName" type="text" class="form-control" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="lastName">Last Name</label>
                <div class="col-sm-5">
                    <input id="lastName" type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="email">Email</label>
                <div class="col-sm-5">
                    <input id="email" type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="password">Password</label>
                <div class="col-sm-5">
                    <input id="password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

    </div>

    <div ng-if="destinationPage === '/dashboard'">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal! SIGN-IN</h3>
        </div>
        <div class="modal-body form-horizontal">
            <img src="../resources/images/pop-social-login.jpg">
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="userName">USer Name</label>
                <div class="col-sm-5 ">
                    <input id="userName" type="text" class="form-control" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="password">Password</label>
                <div class="col-sm-5">
                    <input id="password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>

</script>