<style>
    .page-title {
        text-align: center;
        margin-top: 16%;
        color: white;
        font-weight: bold;
        font-size: 60px;
        text-shadow: black 1px 4px 8px;
    }

    .start-now-box {
        width: 280px;
        font-size: 20px;
        background-color: rgb(234, 231, 231);
        font-weight: bold;
        height: 60px;
        font-family: arial;
        margin-top: 15px;
    }

    .modal-content {
        width: 460px;
    }

    .landing-top{
        height: 400px;
    }

    .carousel{
        height:400px;
    }

    .carousel_img{
        height:400px !important;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    .carousel_data{
        position: absolute;
        top:0;
        left:0;
        right:0;
    }

    .landing-top .carousel .carousel-control{
        visibility: hidden; 
    }
</style>
<div class="user-type">
    <div class="row landing-top">
        <carousel>
          <slide ng-repeat="slide in slides" active="slide.active">
            <div class="carousel_img" style="background-image:url('{{slide.image}}'); margin:auto;"></div>
          </slide>
        </carousel>
        <div class="carousel_data">
            <h2 class="page-title">My Virtual Garage</h2>
            <div>
                <button type="button" class="btn btn-lg start-now-box center-block" ng-click="startNow()">
                        START NOW
                </button>
            </div>
        </div>
    </div>
    <div class="row landing-bottom">    
        <div class="col-sm-4" style="background-color:#e99; height:300px;">
        </div>
        <div class="col-sm-4" style="background-color:#99e; height:300px;">
        </div>
        <div class="col-sm-4" style="background-color:#9e9; height:300px;">
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">

    <div ng-if="destinationPage === '/add-car'">
        <div class="modal-header">
            <img src="../resources/images/pop-title-login.jpg">
        </div>
        <div class="modal-body form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="firstName">First Name</label>
                <div class="col-sm-5 ">
                    <input id="firstName" type="text" class="form-control" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="lastName">Last Name</label>
                <div class="col-sm-5">
                    <input id="lastName" type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="email">Email</label>
                <div class="col-sm-5">
                    <input id="email" type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="password">Password</label>
                <div class="col-sm-5">
                    <input id="password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

    </div>

    <div ng-if="destinationPage === '/dashboard'">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal! SIGN-IN</h3>
        </div>
        <div class="modal-body form-horizontal">
            <img src="../resources/images/pop-social-login.jpg">
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="userName">USer Name</label>
                <div class="col-sm-5 ">
                    <input id="userName" type="text" class="form-control" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 col-sm-offset-1" for="password">Password</label>
                <div class="col-sm-5">
                    <input id="password" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>

</script>