<style>
    .home-page-title, .home-page-title:hover {
        text-decoration: none;
        color: #444;
        font-weight: bold;
        font-size: 20px;
    }
    
    .user-info {
        line-height: 30px;
    }

    .home-header-page-logo{
        background-image: url(resources/images/dashboard/header-logo.png);
        height: 90px;
        background-position: left center;
        background-repeat: no-repeat;
        width: 100%;
    }

    .page-header{
        height: 90px;
        border:0;
        margin:0;
    }

    .btn-social{
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-left: -5px;
        position: relative;
        top: -10px;
    }

    .btn-facebook{
        background-image: url(resources/images/dashboard/shareicon_3.png);
    }

    .btn-twitter{
        background-image: url(resources/images/dashboard/shareicon_2.png);
    }

    .btn-mail{
        background-image: url(resources/images/dashboard/shareicon_1.png);
    }

    .btn-appointment{
        margin-left:16px;
        display: inline-block;
        cursor: pointer;
        width: 220px;
        height: 45px;
        background-image: url(resources/images/dashboard/appointment.png);        
    }

    .right-zone{
        position: relative;
        margin-top:24px;
    }

    .syw-id{
        position: absolute;
        right: 18px;
        top: -20px;
        font-size: 0.7em;
        font-weight: bold;
        color: #bbb;
    }

    .header-buttons{
        min-width:312px;
    }
</style>


<div class="page-header">
    <div class="row">
        <div class="col-sm-4">            
            <a href="/" class="home-page-title"><div class="home-header-page-logo"></div></a>            
        </div>   
        <div class="col-sm-4">  
        </div> 
        <div class="col-sm-4 right-zone">
            <div class="syw-id">Your SYW ID#: 49568376976</div>
            <div class="pull-right header-buttons">
                <a href="#" class="btn-social btn-mail"> 
                </a>
                <a href="#" class="btn-social btn-facebook">
                </a>
                <a href="#" class="btn-social btn-twitter">
                </a>
                <div class="btn-appointment">            
                </div>
            </div>
        </div>
    </div>
</div>
