<!--TODO remove this block.-->

<div class=" ">
    <div class="logoLanding col-md-12">
    </div>
    <div class="divMain">
        <div class="textTitle"></div>
        <h3 class="col-md-12 titleH3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</h3>
        <button class="btnStart"></button>
    </div>
    <div id="carouselLanging" class="carousel slide col-md-12 noPadding" data-interval="1000" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselLanging" data-slide-to="0" class="active"></li>
            <li data-target="#carouselLanging" data-slide-to="1"></li>
            <li data-target="#carouselLanging" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active firstImg">
                <img src="../resources/images/LP_1.jpg" alt=".." data-holder-rendered="true">
            </div>
            <div class="item middleImg">
                <img src="../resources/images/LP_2.jpg" alt=".." data-holder-rendered="true">
            </div>
            <div class="item lastImg">
                <img src="../resources/images/LP_3.jpg" alt=".." data-holder-rendered="true">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselLanging" role="button" data-slide="prev">
        </a>
        <a class="right carousel-control" href="#carouselLanging" role="button" data-slide="next">
        </a>
    </div>
    <div class="row">
        <div class="col-md-4 noPaddingRight">
            <div class="boxFirst"></div>
            <p class="boxText">Get notification when your car needs service</p>
        </div>
        <div class="col-md-4 noPadding">
            <div class="boxMiddle"></div>
            <p class="boxText">Get service recommendation based on your mileage</p>
        </div>
        <div class="col-md-4 noPaddingLeft">
            <div class="boxLast"></div>
            <p class="boxText">Enjoy great discounts on Automotive parts</p>
        </div>
    </div>
</div>

<!--Set carousel-->
<script type="text/javascript">

    $(document).ready(function(){
        var carouselSetTO = setTimeout(function(){
            $('#carouselLanging').carousel({
                interval: 3000,
                cycle: true
            }).trigger('slide');
        }, 2000);
        var q = carouselSetTO;
    });

</script>
