
<div ng-init="selectedTab = 'recalls'" ng-include="'scripts/presentation-flow/views/car-records-header.html'"></div>

<div class="recall-box">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 recall-content">
            <recall-information recall-date="recall.reportReceivedDate"
                                model-year="recall.modelYear"
                                make="recall.make"
                                model="recall.model"
                                component="recall.component"
                                summary="recall.summary"
                                consequence="recall.consequence"
                                remedy="recall.remedy"
                                notes="recall.notes"
                                ng-repeat="recall in model.recalls track by $index"></recall-information>
        </div>
    </div>


    <div class="dashboard-bottom-mobile visible-xs">
        <div class="col-xs-12 footer-btns">
            <a href="#" class="btn-social btn-mail">
            </a>
            <a href="#" class="btn-social btn-facebook">
            </a>
            <a href="#" class="btn-social btn-twitter">
            </a>
            <br/>
            <div class="dashboard-mobile-feedback"></div>
        </div>
    </div>

</div>