

<div ng-include="'scripts/presentation-flow/views/nav-top.html'"></div>

<div ng-init="selectedTab = 'recalls'" ng-include="'scripts/presentation-flow/views/cart-records-header.html'"></div>

<div class="recall-box">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 recall-content">

            <recall-information recall-date="recall.reportReceivedDate"
                                model-year="recall.modelYear"
                                make="recall.make"
                                model="recall.model"
                                component="recall.component"
                                summary="recall.summary"
                                consequence="recall.consequence"
                                remedy="recall.remedy"
                                notes="recall.notes"
                                ng-repeat="recall in model.recalls"></recall-information>
        </div>
    </div>


</div>