<!-- ModalNewRecordCtrl -->
<script type="text/ng-template" id="modalNewRecord.html">
    <div class="modal-header">
        <h1 class="text-center">Please add a New record</h1>
    </div>
    <form name="recordForm" novalidate ng-submit="addRecord()" role="recordForm">
        <div class="modal-body form-horizontal">
            <div class="form-group" ng-class="{ 'has-error' : (recordForm.mileage.$invalid && recordForm.submitted) || ( recordForm.mileage.$invalid && recordForm.mileage.$dirty), 'has-success': recordForm.mileage.$valid}">
                <label class="control-label col-sm-3" for="record-mileage">Mileage</label>
                <div class="col-sm-9">
                    <input id="record-mileage" name="mileage" ng-model="model.recordForm.mileage" type="number"  min="0" class="form-control" placeholder="Mileage" required/>
                    <div ng-show="recordForm.mileage.$invalid && recordForm.submitted" class="help-block">Millage are required.</div>
                    <div ng-show="recordForm.mileage.$error.required && recordForm.submitted" class="help-block">Millage should be a number.</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (recordForm.source.$invalid && recordForm.submitted) || ( recordForm.source.$invalid && recordForm.source.$dirty), 'has-success': recordForm.source.$valid}">
                <label class="control-label col-sm-3" for="record-source">Source</label>
                <div class="col-sm-9">
                    <input id="record-source" name="source" ng-model="model.recordForm.source"  type="text" class="form-control" placeholder="Source" required/>
                    <div ng-show="recordForm.source.$invalid  && recordForm.submitted" class="help-block">Source are required.</div>
                    <div ng-show="recordForm.source.$error.required  && recordForm.submitted" class="help-block">Source should be a text.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="record-source">Service</label>
                <div class="col-sm-9">
                    <select class="form-control"
                            ng-model="model.recordForm.service"
                            ng-options="service.desc for service in model.services">
                        <option value=""> - Others - </option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (recordForm.comment.$invalid && recordForm.submitted) || ( recordForm.comment.$invalid && recordForm.comment.$dirty), 'has-success': recordForm.comment.$valid}">
                <label class="control-label col-sm-3" for="record-comment">Description</label>
                <div class="col-sm-9">
                    <textarea id="record-comment" name="comment" ng-model="model.recordForm.comment"  type="text" class="form-control" placeholder="Description" required/>
                    <div ng-show="recordForm.comment.$invalid && recordForm.submitted" class="help-block">Description are required.</div>
                    <div ng-show="recordForm.comment.$error.required  && recordForm.submitted" class="help-block">Description should be a text.</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (recordForm.date.$invalid && recordForm.submitted) || ( recordForm.date.$invalid && recordForm.date.$dirty), 'has-success': recordForm.date.$valid}">
                <label class="control-label col-sm-3" for="record-date">Date</label>
                <div class="col-sm-9">
                    <div class="input-group">
                         <input name="date" id="record-date" type="text" class="form-control"
                                datepicker-popup="{{model.dateRecordFormat}}"
                                ng-model="model.recordForm.date"
                                is-open="opened"
                                min-date="minDate"
                                datepicker-options="dateOptions"
                                date-disabled="disabled(date, mode)"
                                ng-required="true"
                                close-text="Close"/>
                         <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <div ng-show="recordForm.date.$error.required  && recordForm.submitted" class="help-block">Date are required.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>