
<div ng-init="selectedTab = 'services'" ng-include="'scripts/presentation-flow/views/car-records-header.html'"></div>

<div class="row">
    <span class="col-sm-7"></span>
    <a href="#" class="col-sm-5 text-right add-service-header" ng-click="openNewRecordForm()">
        <span class="text-add-service-header">ADD RECENT SERVICE HISTORY</span>
        <img alt="Add service icon." src="resources/images/recalls/add.png"/>
    </a>
</div>

<div class="service-box">
    <div class="hidden-xs separator"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 service-content">
            <div ng-repeat="year in model.years">
                <div class="hidden-xs service-date" ng-hide="$index==0"><span>{{year}}</span></div>
                <div class="service-header row hidden-xs">
                    <div class="col-sm-3 sis-date text-center">Date</div>
                    <div class="col-sm-1">Mileage</div>
                    <div class="col-sm-3">Service Center</div>
                    <div class="col-sm-5">Service</div>
                </div>
                <service-information service="service" ng-repeat="service in model.groupedServices[year]"></service-information>
            </div>
        </div>
    </div>

    <footer-vg></footer-vg>
</div>


<!-- ModalNewRecordCtrl -->
<script type="text/ng-template" id="modalNewRecord.html">
    <div class="modal-window">
        <div class="modal-header">
            <div>
                <button type="button" class="btn-close-top-right btn-lg" ng-click="cancel()">
                </button>
            </div>
            <h1 class="text-center">Add a new record</h1>
        </div>
        <form name="recordForm" novalidate ng-submit="addRecord()" role="recordForm">
            <div class="modal-body form-horizontal">
                <div class="form-group" ng-class="{ 'has-error' : (recordForm.mileage.$invalid && recordForm.submitted) || (recordForm.mileage.$invalid && recordForm.mileage.$dirty), 'has-success': recordForm.mileage.$valid}">
                    <div class="col-md-6 col-xs-7">
                        <input id="record-mileage" name="mileage" ng-model="model.recordForm.mileage" type="number"  min="0" class="form-control" placeholder="Enter your millage" required/>
                        <div ng-show="recordForm.mileage.$invalid && recordForm.submitted" class="help-block">Millage are required.</div>
                        <div ng-show="recordForm.mileage.$error.required && recordForm.submitted" class="help-block">Millage should be a number.</div>
                    </div>
                    <div class="col-md-3 col-xs-5">
                        <div class="input-group">
                            <input name="date" id="record-date" type="text" class="form-control vg-record-modal-form-control-calendar"
                                   datepicker-popup="{{model.dateRecordFormat}}"
                                   ng-model="model.recordForm.date"
                                   is-open="opened"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   close-text="Close"
                                    />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default vg-record-modal-btn-calendar" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div ng-show="recordForm.date.$error.required && recordForm.submitted" class="help-block">Date are required.</div>
                    </div>
                    <div class="col-md-3 col-xs-5">
                        <select class="form-control"
                                ng-model="model.recordForm.service"
                                ng-options="service.description for service in model.servicesPopup"
                                placeholder="Service">
                        </select>
                    </div>
                    <div class="col-md-7 col-xs-7">
                        <input id="record-source" name="source" ng-model="model.recordForm.source"  type="text" class="form-control" placeholder="Service center" required/>
                        <div ng-show="recordForm.source.$invalid && recordForm.submitted" class="help-block">Source are required.</div>
                        <div ng-show="recordForm.source.$error.required && recordForm.submitted" class="help-block">Source should be a text.</div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <textarea id="record-comment" name="comment" ng-model="model.recordForm.comment"  type="text" class="form-control vg-record-modal-textarea" placeholder="Comments" required/>
                        <div ng-show="recordForm.comment.$invalid && recordForm.submitted" class="help-block">Description are required.</div>
                        <div ng-show="recordForm.comment.$error.required && recordForm.submitted" class="help-block">Description should be a text.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning"  ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-primary">ADD</button>
            </div>
        </form>
    </div>
</script>

