<style>
    .input-store-locator {
        margin-top: 25px;
    }
</style>
<div ng-include="'scripts/presentation-flow/views/nav-top.html'"></div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-xs-10 col-xs-offset-1">

        <div class="row">
            <div class="col-xs-8">
                <h3>Enter the ZIP code or address to find a Sears Auto Center near you.<br>
                    <small>{{model.stores.length}} stores found near {{model.address}}.</small>
                </h3>
            </div>
            <div class="col-xs-4">
                <form ng-submit="getStoreNearby()">
                    <div class="input-group input-store-locator">
                        <input type="text" class="form-control" ng-model="model.address" value="{{model.address}}">
                          <span class="input-group-btn">
                                  <button class="btn btn-default" ng-click="getStoreNearby()" type="submit">
                                      Search
                                  </button>
                          </span>
                    </div>
                </form>
            </div>
        </div>

        <store-row address="store.address"
                   district-name="store.district_name"
                   district-number="store.district_number"
                   city="store.city"
                   distance="store.distance"
                   zip-code="store.zip_code"
                   id-store="store.id"
                   latitude="store.latitude"
                   longitude="store.longitude"
                   ng-repeat="store in model.stores"></store-row>

    </div>

</div>