.vg-record-modal {

	.modal-dialog {
		width: 100%;
	}

	.modal-content {
		width: 100%;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;	
		background-color: transparent;	
		padding-top: 60px;
	}

	.modal-close {
		position: fixed;
		right: 0;
		background-color: white;
		border-radius: 6px;
		border: 1px solid #aaa;

		.btn {
			background-color: white;
			border-radius: 6px;
			padding: 16px 20px;
		}
	}
	.modal-window {
		width: 50%;
		margin: auto;
		background-color: white;
		border: 1px solid #aaa;
		margin-top: 60px;
		padding-left: 20px;
		padding-right: 30px;
	}

	.modal-header {
  		border: none;
  		padding-bottom: 8px;

  		h1 {
  			font-size: 22px;
			font-weight: 200;
  		}
	}

	.modal-body { 
		padding-bottom: 10px;
	}

	.form-group > div {
		padding-right: 0; 
		padding-bottom: 17px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.form-control {
		border-radius: 0;
		-webkit-appearance: none;
		height: 38px;

		&.vg-record-modal-form-control-calendar {
			border-right: 0;
		}

		&.vg-record-modal-textarea {
			height: 90px;
		}
	}

	.btn {
		border-radius: 0;
		-webkit-appearance: none;

		&.vg-record-modal-btn-calendar {
			border-left: 0;
			border-color: #ccc;
			height: 38px;
			
			&:hover {
				background-color: #fff;
			}
		}
	}		

	.modal-footer {
		border: none;
		text-align: center;
		padding-top: 0;

		.btn {
			width: 120px;

			background-color: #00bacf;
			border-color: #98dae3;
			&.btn-warning {
				color: black;
				background-color: white;
				border-color: #ccc;
			}
		}
	}

	@media (max-width: 768px) { 
		.modal-dialog {
			margin: 0;
		}

		.modal-window {
			width: 100%;
			margin-top: 20px;
			padding-left: 5px;
			padding-right: 15px;
		}

		.modal-close {
			right: 10px;
		}

		.dropdown-menu {
			position: fixed;
		}
	}
}

.vg-record-backdrop.modal-backdrop.in {
	filter: alpha(opacity=20);
	opacity: .2;
}

