.service-box{
	.separator{
		height: 34px;
	}
	.service-date{
		text-align: center;
		margin: 16px 0 0 0;
		border-top: 1px solid #ddd;
		@extend %font-Roboto;
		span{
			color: #aaa;
			background-color: white;
			position: relative;
			top: -0.7em;
			padding: 0 20px;
			font-size: 1.4em;
		}
	}
	.service-header{
		color: #555;
		@extend %font-Roboto;
		font-weight: bold;
		font-size: 1.1em;
		padding-bottom:24px;
	}
	.services-info{
		font-size: 0.9em;
		@extend %font-Roboto;
		color: #888;
		.service-data{
			padding-top:10px;
		}
		padding-bottom:24px;
	}

	.service-type-manual{
		background-image: url($wrench);
      	background-repeat: no-repeat;
      	background-position: center center;
      	height: 40px;
      	width: 40px;
      	background-size: contain;
      	float:left;
      	margin-top:-10px;
	}
	.sis-date{
		text-align: center;
	}
	.service-highlight{
		color: #555;
		text-decoration: underline;
	}
}

.services-info-small{
	@extend %font-Roboto;
	.row.sis-header{
		text-align: center;
		background-color: #fff;
		font-size: 1.4em;
		color: #a0a1a3;
	}
	.row{
		border-bottom: 1px solid white;
		padding:14px 5px 14px 5px;
		background-color: #f8f8f8;
		.sis-data{
			font-weight: bold;
			color: #585d6b;
			margin-left: 100px;
		}
		.sis-title{
			color: #b0b1b2;
			min-width: 6em;
			font-size: 0.9em;
		}
	}
	.service-type-manual{
		background-image: url($wrench);
		background-repeat: no-repeat;
		background-position: center center;
		height: 40px;
		width: 40px;
		background-size: contain;
		position: relative;
		left: 20px;
		top: 5px;
	}
	.sis-date-small{
		width: 90%;
	}
}