.vg-store-locator-input {
  margin-top: 25px;
}

.vg-store-locator-row-separator {
  border-color: rgb(178, 178, 178);
  border-style: solid;
  border-width: 1px;
}

.vg-store-locator-row-separator-text {
  font-size: 15px;
  position: relative;
  top: -16px;
  text-align: center;
  font-weight: bolder;
}

.vg-store-locator-expand-header {
  width: 100%;
}

.vg-store-locator-button {
  height: 103px;
}

.vg-store-locator-row-panel {
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border-color: #808080;
}

.vg-store-locator-row-button {
  width: 100%;
  min-width: 150px;
  margin-top: 20px;
}

.vg-store-locator-h5 {
  margin-left: 10px;
}

.vg-store-locator-li {
  line-height: 20px;
  font-size: 14px;
  width: 150px;
}

.vg-store-locator-h4 {
  font-weight: bold;
  font-size: 16px;
}

.vg-store-locator-btn-favorite {
  background-color: rgb(192, 240, 154);
}

.vg-store-locator-sub-text-button {
  font-size: 20px;
}

.vg-store-locator-map {
  border-radius: 10px 10px 10px 10px;
  height: 120px;
  float: left;
  width: 120px;
}