.media > .vg-trend-view-img {
  margin-right: 25px;
}

.vg-trend-view-media-object {
  height: 200px;
}

.vg-trend-view-media-body {
  height: 200px;
  position: relative;
}

.vg-trend-view-tags {
  position: absolute;
  bottom: 0;
}